.card1 {
    padding: 1.5%;
    font-size: 200%;
}

.row-of-payment-options {
    display: flex;
    flex-direction: row;
}

.class-of-row-of-payment-options {
    padding: 25px;
    border-radius: 25px 25px 25px 1px;
}

.payment-options-h {
    font-size: 22px;
    font-weight: bold;
}

.u-payment-options {
    font-size: 19px
}

.price {
    font-size: 52px;
    font-weight: bold;
}