<ion-header>

 
  <br>
  
<div class="logo">
    <div>
  <img src="../../../assets/images/COOPEERE_BLACK-nobg.png"/>
    </div>
</div>

</ion-header>




<ion-content>

  <div >
    <h2 class="login-message">
      Seja Bem-Vindo!
    </h2>
    <h4 class="login-message-2">
      Cadastre-se e seja um cooperado.
    </h4>
  </div>
  <form [formGroup]="formulario" (submit)="cadastro()">
  <div class="dados">
    <h1> <strong>Dados Pessoais</strong></h1>
  </div>

  <div class="login-input">

  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.name" formControlName="name"  placeholder="Insira seu primeiro nome."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Sobrenome</ion-label>
    <ion-input [(ngModel)]="usuario.secondname" formControlName="secondname"  type="text" placeholder="Insira seu sobrenome completo."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Data de Nascimento</ion-label>
    <ion-input [(ngModel)]="usuario.b_day" formControlName="b_day"  type="text"  placeholder="Entre com sua data de nascimento"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gênero</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.genre" formControlName="genre"  placeholder="Entre com seu gênero"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Telefone Celular</ion-label>
    <ion-input type="tel" [(ngModel)]="usuario.phonenumber" formControlName="phonenumber"  placeholder="Entre com seu telefone celular"></ion-input>
  </ion-item>


 

  <div class="dados">
    <h1> <strong>Endereço</strong></h1>
  </div>
</div>

<div class="login-input">

  <ion-item>
    <ion-label>CEP</ion-label>
    <ion-input type="number" [(ngModel)]="usuario.cep" formControlName="cep"   placeholder="Entre com seu CEP"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Endereço</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.address" formControlName="address"  placeholder="Entre com sue endereço"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label>Cidade</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.city" formControlName="city"  placeholder="Qual é sua cidade?"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.state" formControlName="state"  placeholder="Qual é o seu estado?"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>E-Mail</ion-label>
    <ion-input type="email" [(ngModel)]="usuario.email" formControlName="email"  placeholder="Entre com seu e-mail"></ion-input>
  </ion-item>

  <!--  [(ngModel)]="model.email" -->
  <ion-item>
    <ion-label>Nome de Usuário</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.username" formControlName="username"  placeholder="Entre com seu telefone celular"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.password" formControlName="password"  placeholder="Entre com sua senha"></ion-input>
  </ion-item>

  <!-- [(ngModel)]="model.password"  -->

 

 
<br>
  <div class="cadastrar">
    <ion-button type="submit">Cadastrar e Enviar</ion-button>
   </div>


</div>

<br>
<br>

<div class="esqueci">
  <label ><strong>Já tem cadastro?</strong></label>
</div>

<br>

<div class="cadastrar">
 <ion-button href="/login">Entrar</ion-button>
</div>


<br>
<br>
</form>
</ion-content>
