
  

.login-input {


    padding: 10px;
}

.logo {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 27%;
    padding: 10px;
}

.login-message {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.login-message-2 {
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

.esqueci {
    text-align: center;
}

.cadastrar {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.dados {
    text-align: center;
}