<ion-header>

 
  <br>
  
<div class="logo">
    <div>
  <img src="../../../assets/images/COOPEERE_BLACK-nobg.png"/>
    </div>
</div>

</ion-header>




<ion-content>

  <div >
    <h2 class="login-message">
      Seja Bem-Vindo!
    </h2>
    <h4 class="login-message-2">
      Cadastre-se e seja um cooperado.
    </h4>
  </div>

  <div class="dados">
    <h1> <strong>Dados Pessoais</strong></h1>
  </div>

  <div class="login-input">

  <ion-item>
    <ion-label>Nome completo</ion-label>
    <ion-input type="text" placeholder="Insira seu nome completo."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>E-Mail</ion-label>
    <ion-input type="email" [(ngModel)]="model.email" placeholder="Entre com seu e-mail"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Telefone Celular</ion-label>
    <ion-input type="tel" placeholder="Entre com seu telefone celular"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>CPF/CNPJ</ion-label>
    <ion-input type="number" placeholder="Entre com seu CPF e CNPJ"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Telefone Fixo</ion-label>
    <ion-input type="tel" placeholder="Entre com seu telefone fixo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input type="password" [(ngModel)]="model.password" placeholder="Entre com sua senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirmar senha</ion-label>
    <ion-input type="password" placeholder="Confirme sua senha"></ion-input>
  </ion-item>

  <div class="dados">
    <h1> <strong>Endereço</strong></h1>
  </div>
</div>

<div class="login-input">

  <ion-item>
    <ion-label>CEP</ion-label>
    <ion-input type="number" placeholder="Entre com seu CEP"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Endereço</ion-label>
    <ion-input type="text" placeholder="Entre com sue endereço"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Bairro</ion-label>
    <ion-input type="text" placeholder="Entre com seu bairro"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Número</ion-label>
    <ion-input type="number" step="0.01"  placeholder="Confirme seu número"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Complemento</ion-label>
    <ion-input type="text" placeholder="Insira um complemento"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Cidade</ion-label>
    <ion-input type="text" placeholder="Qual é sua cidade?"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-input type="text"  placeholder="Qual é o seu estado?"></ion-input>
  </ion-item>

 
<br>
  <div class="cadastrar">
    <ion-button href="/tab1">Cadastrar e Enviar</ion-button>
   </div>


</div>

<br>
<br>

<div class="esqueci">
  <label ><strong>Já tem cadastro?</strong></label>
</div>

<br>

<div class="cadastrar">
 <ion-button href="/login">Entrar</ion-button>
</div>


<br>
<br>

</ion-content>
