<ion-header>
  <div class="header"><img src="../../../assets/images-coopeere/coopere.png"></div>
</ion-header>

<ion-content>
  <div class="conteudo">
    <div class="amarelo">
        <h2>Menu</h2>
            <br>
            <ion-button fill="clear" style="color: #7B9A6E; font-size: 15px; " [routerLink]="['/Home']">Home</ion-button>
            <br>
            <ion-button fill="clear" style="color: #7B9A6E; font-size: 15px;" [routerLink]="['/ListadeClientes']">Lista de Clientes</ion-button>
            <br>
            <ion-button fill="clear" style="color: #7B9A6E; font-size: 15px; " [routerLink]="['/Dados']">Dados</ion-button>
            <br>
            <ion-button fill="clear" style="color: #7B9A6E; font-size: 15px; " [routerLink]="['/Sair']">Sair</ion-button>
    </div>

    <div class="vermelho">
        <h2>CLIENTES</h2>
        <br>
        <div class="clientes">
        <h5> Clientes Cadastrados</h5>
        <p> 60mil + </p>
        </div>
        <div class="clientes">
        <h5> Clientes Ativos</h5>
        <p> 40mil + </p>
        </div>
        <div class="clientes">
        <h5> Clientes Não Ativos</h5>
        <p> 20mil + </p>
        </div>
    </div>
    
        <div class="grafico1"></div>

        <div class="grafico2"></div>
        
        <div class="verde"> 
            <h3> CLIENTES CADASTRADOS</h3>
            <div class="cliente1">
                <h4>Cliente 1</h4>
                <p>ID do Cliente: 40028922</p>
                <button class="alterar">Alterar</button>
                <button class="excluir">Excluir</button>
            </div>

            <div class="cliente2">
                <h4>Cliente 2</h4>
                <p>ID do Cliente: 40028922</p>
                <button class="alterar">Alterar</button>
                <button class="excluir">Excluir</button>
            </div>

            <div class="cliente3">
                <h4>Cliente 3</h4>
                <p>ID do Cliente: 40028922</p>
                <button class="alterar">Alterar</button>
                <button class="excluir">Excluir</button>
            </div>

            <div class="cliente4">
                <h4>Cliente 4</h4>
                <p>ID do Cliente: 40028922</p>
                <button class="alterar">Alterar</button>
                <button class="excluir">Excluir</button>
            </div>

        </div>
        <div class="avaliacoes"></div>
</div>

</ion-content>
