<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <div class="container"> 
  <h2>1. Triagem</h2>

<div class="triagem">

  <ion-list>
    <ion-radio-group value="strawberries">
      <ion-item>
        <ion-label>Enel-RJ</ion-label>
        <ion-radio slot="end" value="grapes"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Light-RJ</ion-label>
        <ion-radio slot="end" value="strawberries"></ion-radio>
      </ion-item> 
  
      <ion-item>
        <ion-label>Enel-SP</ion-label>
        <ion-radio slot="end" value="pineapple"></ion-radio>
      </ion-item>
  
  
    </ion-radio-group>
  </ion-list>


  <br>

  <ion-list>
    <ion-radio-group value="strawberries">
      <ion-item>
        <ion-label>Tenho uma conta na <br> concessionária selecionada <br> em meu nome.</ion-label>
        <ion-radio slot="end" value="grapes"></ion-radio>

        <ion-button color="warning" (click)="popoverCons($event)">Atenção!</ion-button>
          <ion-popover #popover1 [isOpen]="isOpen1" (didDismiss)="isOpen1 = false">
              <ng-template>
                <ion-content class="ion-padding">Preencha o formulário PRODIST ANEEL com os dados desta conta!!!</ion-content>
              </ng-template>
          </ion-popover>

      </ion-item>
  
      <ion-item>
        <ion-label>Não sou titular de uma conta da <br> concessionária selecionada, <br> mas me cadastrarei <br> com o Link convite que me <br> foi enviado ou o farei <br> sem convite por livre e <br> espontânea vontade para <br> apoiar a cooperativa.</ion-label>
        <ion-radio slot="end" value="strawberries"></ion-radio>

        <ion-button color="warning" (click)="popoverCooperado($event)">Atenção!</ion-button>
        <ion-popover #popover2 [isOpen]="isOpen2" (didDismiss)="isOpen2 = false">
            <ng-template>
              <ion-content class="ion-padding">Você será um Cooperado Apoiador!!!</ion-content>
            </ng-template>
        </ion-popover>

      </ion-item>
  
  
    </ion-radio-group>
  </ion-list>


</div>

<br>

  <h2>2. PRODIST</h2>


  <div>



    <div>

   
    
      <br>
      <label class="title" for="id-uc" style="font-weight: bold; font-size: 22px;">Identificação da Unidade Consumidora</label>
<br>
<br>

      <label class="prodist-label" for="">Upload da conta de luz</label>
      <br><br>
      <ion-button style="align-items: center; justify-content: center; display: flex; margin: auto;">Enviar Arquivo</ion-button>
      <br><br>
      <label class="prodist-label" for="">Código UC/Número do Cliente</label>
      <br><br>
      <input class="form-inputs" type="text">
      <br><br>
      

      <label class="prodist-label" for="">Classe UC</label>
      <br><br>
      <input class="form-inputs" type="text">

      <br><br>

      
      <label class="title" for="id-uc" style="font-weight: bold; font-size: 22px;">Dados da Unidade Consumidora</label>
<br>
<br>
 
      <label class="prodist-label" for="">Cota que deseja comprar mensalmente</label>
      <br>
      <h6>
        Preço estimado em 50% menor do que a operadora
      </h6>
      <input class="form-inputs" type="text">



      <div class="prodist-label">
        <label for="potencia_inst_uc">Potência Instalada</label>
        <div class="form-hint">
            Em função da Cota, ou seja,<br/>Potência instalada = Cota/360
        </div>
    </div>
    <div class="input-group">
        <input
            type="text"
            class="form-inputs"
            readonly
            id="potencia_inst_uc"
            name="potencia_inst_uc"
            value="0.62"
            size="15">
        <span class="input-group-text">kW</span>
    </div>

    <label class="prodist-label" for="tensao_atendimento">Tensão de atendimento (V)</label>
    <div class="input-group">
        <select class="form-inputs " id="tensao_atendimento" name="tensao_atendimento">
            <option value="">Selecione</option>
                            <option value="110"
                 selected                     >
                110
            </option>
                            <option value="220"
                                    >
                220
            </option>
            
        </select>
    </div>

    <div class="prodist-label">
        <label for="tipo_conexao">Tipo de conexão</label>
        <div class="form-hint">
            Esta informação tem em sua conta de energia.
        </div>
    </div>
    <div class="input-group">
        <select class="form-select"
            name="tipo_conexao"
            id="tipo_conexao"
            
        >
                            <option value="monofásica" >Monofásica
            </option>
                            <option value="bifásica" >Bifásica
            </option>
                            <option value="trifásica"  selected >Trifásica
            </option>
                        </select>
    </div>

    <div class="prodist-label">
        <label for="tipo_ramal">Tipo de Ramal</label>
        <div class="form-hint">
            A energia chega até você via postes ou debaixo da terra?
        </div>
    </div>
    <div class="input-group">
        <select class="form-select"
            name="tipo_ramal"
            id="tipo_ramal"
            
        >
                            <option value="aéreo"  selected >Aéreo
            </option>
                            <option value="subterraneo" >Subterraneo
            </option>
                        </select>
    </div>
</div>

<div class="form-group">
    <div class="form-group-title">
        Dados da Geração
    </div>

    <label class="prodist-label" for="potencia_inst_gerada">Potência instalada gerada</label>
    <div class="input-group">
        <input class="form-inputs"
            type="text"
            id="potencia_inst_gerada"
            name="potencia_inst_gerada"
            value=""
            size="20"
            readonly
        >
        <span class="input-group-text">kW</span>
    </div>

    <div class="prodist-label">
        <label for="tipo_fonte_geracao">Tipo da Fonte de Geração</label>
        <div class="form-hint">
            O padrão é Eólica
        </div>
    </div>
    <div class="input-group">
        <select class="form-select"
            
            name="tipo_fonte_geracao"
            id="tipo_fonte_geracao"
        >
                            <option value="hidráulica" >Hidráulica
            </option>
                            <option value="solar"  selected >Solar
            </option>
                            <option value="eólica" >Eólica
            </option>
                            <option value="biomassa" >Biomassa
            </option>
                            <option value="coogeração qualificada" >Coogeração Qualificada
            </option>
                        </select>
    </div>

    <div class="prodist-label">
        <label for="menor_consumo">Menor consumo</label>
        <div class="form-hint">
            Dos últimos 12 meses
        </div>
    </div>
    <div class="input-group">
        <input class="form-inputs"
            
            type="text"
            id="menor_consumo"
            name="menor_consumo"
            value="67.00"
            size="15">
        <span class="input-group-text">kWh</span>
    </div>

    <div class="prodist-label">
        <label for="maior_consumo">Maior consumo</label>
        <div class="form-hint">
            Dos últimos 12 meses
        </div>
    </div>
    <div class="input-group">
        <input  type="text" class="form-inputs" id="maior_consumo"
            name="maior_consumo" size="15" value="368.00"
            title="Maior consumo (em kWh) dos últimos 12 meses">
        <span class="input-group-text">kWh</span>
    </div>



    </div>

  </div>


  <h2>3. Mensalidade</h2>




  
</div>

</ion-content>
