FORMAT: 1A
HOST: https://www.asaas.com/api/v3

# Asaas - Manual API

Esta documentação detalha os endpoints disponíveis na API do Asaas e disponibiliza um console interativo
para que você consiga testar as requisições sem ser necessário escrever nenhuma linha de código. Além disso, através
do console também é possível gerar automaticamente o código das requisições para diversas linguagens (PHP, Java, Ruby, entre muitas outras)

## Comunidade para pessoas desenvolvedoras

Fique por dentro das principais novidades da nossa API em nossos canais criados pela área de Developer Relations do Asaas:
- [Conheça o portal de desenvolvedores](https://asaas.com/developers)
- [Inscreva-se e receba novidades por e-mail](https://materiais.asaas.com/developers)
- [Entre para nossa comunidade no Discord](https://discord.gg/invite/X2kgZm69HV)

## Postman e Insomnia
Recomendamos que as requisições apresentadas nessa documentação sejam testadas previamente através do [Postman](https://www.postman.com/downloads/), [Insomnia](https://insomnia.rest/download) ou outro software equivalente para execução de requisições.
As coleções do Postman e Insomnia com todos os endpoints aqui documentados podem ser baixadas livremente através dos botões abaixo:

[![Run in Postman](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/18837025-34183c23-2b1e-4cf1-a3c5-db62dae4dd69?action=collection%2Ffork&collection-url=entityId%3D18837025-34183c23-2b1e-4cf1-a3c5-db62dae4dd69%26entityType%3Dcollection%26workspaceId%3D1d640920-b245-4f6d-87f8-a0dccda2f7f3)
[![Run in Insomnia}](https://insomnia.rest/images/run.svg)](https://insomnia.rest/run/?label=API%20Asaas%20v3&uri=https%3A%2F%2Fraw.githubusercontent.com%2Fasaasdev%2Finsomnia-collection%2Fmaster%2FAsaasInsomniaCollection.json)

Para testar os exemplos aqui descritos é necessário ter uma conta no Asaas. Caso você ainda não tenha, basta
[criar uma clicando aqui](https://www.asaas.com/onboarding/createAccount) ou [aqui para criar em nossa sandbox](https://sandbox.asaas.com/onboarding/createAccount).

## Autenticação

A autenticação é feita através do fornecimento da sua API Key. Ela deve ser transmitida em todas as requisições no
header `access_token`. Caso a API Key seja inválida ou não seja informada, o Asaas retornará `HTTP 401`.

As API Keys são distintas entre os ambientes de Sandbox e Produção, portanto lembre-se de alterá-la quando mudar a URL.

Para obter sua API Key [acesse a Aba Integração na área de Configurações da Conta](https://www.asaas.com/config/index?tab=pushNotification).

> **Atenção:**
> - Sua API Key carrega muitos privilégios, portanto certifique-se de mantê-la protegida. Não informe ela em atendimentos e nem a exponha no front-end da sua aplicação.
> - Além disso, não é possível recuperá-la caso perdida, sendo necessário a geração de uma nova.

## Códigos HTTP das respostas

O Asaas utiliza respostas HTTP convencionais para indicar sucesso ou falha nas requisições.
Respostas com status 200 indicam sucesso, status 4xx indicam falhas decorrentes de erros nas informações enviadas,
e status 500 indicam erros internos no servidor do Asaas.

| Código HTTP | Descrição |
|---|---|
| **200** OK | Sua requisição foi bem sucedida. |
| **400** Bad Request | Algum parâmetro obrigatório não foi enviado ou é inválido. Neste caso a própria resposta indicará qual é o problema. |
| **401** Unauthorized | Não foi enviada API Key ou ela é inválida. |
| **404** Not Found | O endpoint ou o objeto solicitado não existe. |
| **403** Forbidden | Requisição não autorizada. [Abuso da API](/introduction/rate-limiting) ou uso de parâmetros não permitidos podem gerar este código. |
| **429** Too Many Requests | Muitos pedidos em um determinado período de tempo. Mais em nossa seção sobre [Rate Limiting](/introduction/rate-limiting). |
| **500** Internal Server Error | Algo deu errado no servidor do Asaas. |

Todos os endpoints da API do Asaas recebem e respondem em JSON.

##### Exemplo de resposta para HTTP 400:
```
{
    "errors":[
        {
            "code":"invalid_value",
            "description":"O campo value deve ser informado"
        },
        {
            "code":"invalid_dueDate",
            "description":"A data de vencimento não pode ser inferior à hoje"
        }
    ]
}
```

## Protocolo de segurança TLS (Transport Layer Security)

Atualmente nossos sistemas em produção aceitam TLS 1.1 e 1.2 para comunicação, porém é extremamente recomendada a utilização da versão 1.2.

> **NOTA:** Após o dia **31/08/2021** desativaremos os protocolos de segurança TLS inferiores a 1.2 seguindo as recomendações do [Conselho de Segurança do PCI](https://blog.pcisecuritystandards.org/migrating-from-ssl-and-early-tls).

## Listas e paginação

Todos os endpoints da API que retornam uma lista de itens são paginados. Para navegar entre as páginas há 3 parâmetros:
- limit: quantidade de objetos por página
- offset: posição do objeto a partir do qual a página deve ser carregada. O objeto inicial possui a posição 0.
- totalCount: quantia total de itens para os filtros informados

Por exemplo, utilizando limit 10 e offset 0 será retornada a primeira página com 10 objetos. Utilizando limit 10 e offset 10 trará a segunda página, limit 10 e offset 20 a terceira página, e assim por diante.
O limit deve ser um valor numérico entre 1 e 100. Caso seja omitido será utilizado o valor padrão: 10. O atributo hasMore indica se há mais uma página a ser buscada para os filtros informados.


## Ambiente de desenvolvimento e testes

Para o desenvolvimento de sua integração recomendamos que utilize nosso Sandbox. Para tal, você deve primeiramente criar uma conta no ambiente Sandbox.
Após a criação da conta, poderá realizar a criação de sua chave de API em Sandbox e substituir a URL da API em suas chamadas, conforme as descritas abaixo:

| Ambiente        | URL                                 |
|-----------------|-------------------------------------|
| Produção        | https://www.asaas.com/              |
| Sandbox         | https://sandbox.asaas.com/          |


> **Atenção**:
>- Em Sandbox é possível você testar o envio e recebimento de notificações de email e SMS. Portanto você não deve criar clientes com emails e celulares reais. Para testar o recebimento de notificações você pode utilizar os seus próprios emails e celulares.

## Webhooks

Ao ativar o Webhook, sempre que houver alterações nos recursos integrados, será feito uma requisição POST para o endereço configurado, contendo o evento e o recurso envolvido.

#### Habilitando o Webhook

Para habilitar o webhook, acesse a área Minha Conta, aba Integração, e informe a URL da sua aplicação que
deve receber o POST do Asaas. Lembre-se de selecionar a versão da API "v3" ao habilitar o webhook.

#### Retornando HTTP 200
Para que o Asaas considere a notificação como processada com sucesso, o status HTTP da resposta deve ser `200`.
A sincronização é feita a cada 30 segundos, e caso seu sistema falhe em responder `HTTP 200` 15 vezes consecutivas,
a fila de sincronização será interrompida. Novas notificações continuam sendo geradas e incluídas na fila
de sincronia, porém não são enviadas para a sua aplicação. Após certificar-se que seu sistema
responderá `HTTP 200` para o Asaas basta reativar fila de sincronia acessando a área Minha Conta,
aba Integração, todos os eventos pendentes serão processados em ordem cronológica.

#### Token de autenticação (opcional)
Há também a opção de utilizar um token para autenticar as requisições vindas do Asaas. Este token pode ser
informado na área Minha Conta, aba Integração. O token informado será enviado em todas as notificações
no header `asaas-access-token`.


#### Possíveis ajustes no seu firewall
<a name="ips-de-origem"></a>
- Recomendamos certificar-se que o seu firewall não irá bloquear as requisições vindas do Asaas.
Uma das maneiras de garantir isso é liberar todo o tráfego vindo destes IPs:
`54.94.183.101`, `52.67.12.206`, `54.94.136.112`, `54.94.135.45`, `52.67.211.226` e `18.230.8.159`.

<a name="user-agent-java"></a>
- O Asaas envia a requisição de webhook com o _header_: `{ User-Agent: Java/1.8.0_282 }`. Certifique-se que seu provedor de firewall não bloqueia requisições com este _header_.

<a name="cloudfare"></a>
- Caso sua solução de Firewall seja Cloudflare, é necessário adicionar junto à regra de liberação dos IPs e do User-Agent uma regra adicional para _"Ignorar a validação de integridade do navegador"_.

### Webhook para cobranças

É possível utilizar webhook para que seu sistema seja notificado sobre alterações que ocorram
nas cobranças. Os eventos que o Asaas notifica são:

- `PAYMENT_CREATED` - Geração de nova cobrança.
- `PAYMENT_AWAITING_RISK_ANALYSIS` - Pagamento em cartão aguardando aprovação pela análise manual de risco.
- `PAYMENT_APPROVED_BY_RISK_ANALYSIS` - Pagamento em cartão aprovado pela análise manual de risco.
- `PAYMENT_REPROVED_BY_RISK_ANALYSIS` - Pagamento em cartão reprovado pela análise manual de risco.
- `PAYMENT_UPDATED` - Alteração no vencimento ou valor de cobrança existente.
- `PAYMENT_CONFIRMED` - Cobrança confirmada (pagamento efetuado, porém o saldo ainda não foi disponibilizado).
- `PAYMENT_RECEIVED` - Cobrança recebida.
- `PAYMENT_ANTICIPATED` - Cobrança antecipada.
- `PAYMENT_OVERDUE` - Cobrança vencida.
- `PAYMENT_DELETED` - Cobrança removida.
- `PAYMENT_RESTORED` - Cobrança restaurada.
- `PAYMENT_REFUNDED` - Cobrança estornada.
- `PAYMENT_RECEIVED_IN_CASH_UNDONE` - Recebimento em dinheiro desfeito.
- `PAYMENT_CHARGEBACK_REQUESTED` - Recebido chargeback.
- `PAYMENT_CHARGEBACK_DISPUTE` - Em disputa de chargeback (caso sejam apresentados documentos para contestação).
- `PAYMENT_AWAITING_CHARGEBACK_REVERSAL` - Disputa vencida, aguardando repasse da adquirente.
- `PAYMENT_DUNNING_RECEIVED` - Recebimento de negativação.
- `PAYMENT_DUNNING_REQUESTED` - Requisição de negativação.
- `PAYMENT_BANK_SLIP_VIEWED` - Boleto da cobrança visualizado pelo cliente.
- `PAYMENT_CHECKOUT_VIEWED` - Fatura da cobrança visualizada pelo cliente.

#### Exemplo de JSON a ser recebido [POST]
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
   "event":"PAYMENT_RECEIVED",
   "payment":{
      "object":"payment",
      "id":"pay_080225913252",
      "dateCreated":"2021-01-01",
      "customer":"cus_G7Dvo4iphUNk",
      "subscription":"sub_VXJBYgP2u0eO",  //somente quando pertencer a uma assinatura
      "installment":"2765d086-c7c5-5cca-898a-4262d212587c",   //somente quando pertencer a um parcelamento
      "paymentLink":"123517639363",       //identificador do link de pagamento
      "dueDate":"2021-01-01",
      "originalDueDate":"2021-01-01",
      "value":100,
      "netValue":94.51,
      "originalValue":null,
      "interestValue":null,
      "description":"Pedido 056984",
      "externalReference":"056984",
      "billingType":"CREDIT_CARD",
      "status":"RECEIVED",
      "pixTransaction":null,
      "confirmedDate":"2021-01-01",
      "paymentDate":"2021-01-01",
      "clientPaymentDate":"2021-01-01",
      "installmentNumber": null,
      "creditDate":"2021-02-01",
      "estimatedCreditDate":"2021-02-01",
      "invoiceUrl":"https://www.asaas.com/i/080225913252",
      "bankSlipUrl":null,
      "transactionReceiptUrl":"https://www.asaas.com/comprovantes/4937311816045162",
      "invoiceNumber":"00005101",
      "deleted":false,
      "anticipated":false,
      "anticipable":false,
      "lastInvoiceViewedDate":"2021-01-01 12:54:56",
      "lastBankSlipViewedDate":null,
      "postalService":false,
      "creditCard":{
         "creditCardNumber":"8829",
         "creditCardBrand":"MASTERCARD",
         "creditCardToken":"a75a1d98-c52d-4a6b-a413-71e00b193c99"
      },
      "discount":{
         "value":0.00,
         "dueDateLimitDays":0,
         "type":"FIXED"
      },
      "fine":{
         "value":0.00,
         "type":"FIXED"
      },
      "interest":{
         "value":0.00,
         "type":"PERCENTAGE"
      },
      "split":[
         {
            "walletId":"48548710-9baa-4ec1-a11f-9010193527c6",
            "fixedValue":20,
            "status":"PENDING",
            "refusalReason": null
         },
         {
            "walletId":"0b763922-aa88-4cbe-a567-e3fe8511fa06",
            "percentualValue":10,
            "status":"PENDING",
            "refusalReason": null
         }
      ],
      "chargeback": {
          "status": "REQUESTED",
          "reason": "PROCESS_ERROR"
      },
      "refunds": null
   }
}
```

No campo `billingType` os valores possíveis são:
- `BOLETO` - Boleto Bancário
- `CREDIT_CARD` - Cartão de Crédito
- `DEBIT_CARD` - Cartão de Débito
- `UNDEFINED` - Perguntar ao cliente
- `TRANSFER` - Transferência bancária
- `DEPOSIT` - Depósito bancário
- `PIX` - Recebimento via Pix

> **Atenção:**
> - Com a entrada de novos produtos e funções dentro do Asaas, é possível que novos atributos sejam incluídos no Webhook. É muito importante que seu código esteja preparado para não gerar exceções caso o Asaas devolva novos atributos não tratados pela sua aplicação, pois isso poderá causar interrupção na fila de sincronização.
> - Enviaremos um e-mail quando novos campos forem incluídos no Webhook. O disparo será feito para o e-mail de notificação definido nas [configurações do webhook](#reference/configuracao-de-webhooks/webhook-para-cobrancas/criar-ou-atualizar-configuracao-para-webhook).
> - O array de split será devolvido apenas quando a cobrança possuir configurações de [Split de Pagamento](#introduction/split-de-pagamentos).

### Webhook para notas fiscais

É possível utilizar webhook para que seu sistema seja notificado sobre alterações que ocorram
nas notas fiscais. Os eventos que o Asaas notifica são:

- `INVOICE_CREATED` - Geração de nova nota fiscal.
- `INVOICE_UPDATED` - Alteração na nota fiscal.
- `INVOICE_SYNCHRONIZED` - Nota fiscal enviada para prefeitura.
- `INVOICE_AUTHORIZED` - Nota fiscal emitida.
- `INVOICE_PROCESSING_CANCELLATION` - Nota fiscal processando cancelamento.
- `INVOICE_CANCELED` - Nota fiscal cancelada.
- `INVOICE_CANCELLATION_DENIED` - Recusado o cancelamento da nota fiscal.
- `INVOICE_ERROR` - Nota fiscal com erro.

#### Exemplo de JSON a ser recebido [POST]
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
    "event": "INVOICE_CREATED",
    "invoice": {
        "object": "invoice",
        "id": "inv_000000000232",
        "status": "SCHEDULED",
        "customer": "cus_000000002750",
        "type": "NFS-e",
        "statusDescription": null,
        "serviceDescription": "Nota fiscal da Fatura 101940. \nDescrição dos Serviços: ANÁLISE E DESENVOLVIMENTO DE SISTEMAS",
        "pdfUrl": null,
        "xmlUrl": null,
        "rpsSerie": null,
        "rpsNumber": null,
        "number": null,
        "validationCode": null,
        "value": 300,
        "deductions": 0,
        "effectiveDate": "2018-07-03",
        "observations": "Mensal referente aos trabalhos de Junho.",
        "estimatedTaxesDescription": "",
        "payment": "pay_145059895800",
        "installment": null,
        "taxes": {
            "retainIss": false,
            "iss": 3,
            "cofins": 3,
            "csll": 1,
            "inss": 0,
            "ir": 1.5,
            "pis": 0.65
        },
        "municipalServiceCode": "1.01",
        "municipalServiceName": "Análise e desenvolvimento de sistemas"
    }
}
```

### Webhook para transferências

É possível utilizar webhook para que seu sistema seja notificado sobre alterações que ocorram
nas transferências bancárias e transferências entre contas Asaas. Os eventos que o Asaas notifica são:

- `TRANSFER_CREATED` - Geração de nova transferência.
- `TRANSFER_PENDING` - Transferência pendente de execução.
- `TRANSFER_IN_BANK_PROCESSING` - Transferência em processamento bancário.
- `TRANSFER_BLOCKED` - Transferência bloqueada.
- `TRANSFER_DONE` - Transferência realizada.
- `TRANSFER_FAILED` - Transferência falhou.
- `TRANSFER_CANCELLED` - Transferência cancelada.

#### Exemplo de JSON a ser recebido para transferências bancárias [POST]
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
    "event": "TRANSFER_CREATED",
    "transfer": {
        "object": "transfer",
        "id": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
        "dateCreated": "2019-05-02",
        "status": "PENDING",
        "effectiveDate": null,
        "endToEndIdentifier": null,
        "type": "BANK_ACCOUNT",
        "value": 1000,
        "netValue": 1000,
        "transferFee": 0,
        "scheduleDate": "2019-05-02",
        "authorized": true,
        "failReason": null,
        "transactionReceiptUrl": null,
        "bankAccount": {
            "bank": {
                "ispb": "00000000",
                "code": "001",
                "name": "Banco do Brasil"
            },
            "accountName": "Conta Banco do Brasil",
            "ownerName": "Marcelo Almeida",
            "cpfCnpj": "***.143.689-**",
            "agency": "1263",
            "agencyDigit": "1",
            "account": "26544",
            "accountDigit": "1",
            "pixAddressKey": null
        },
        "operationType": "TED",
        "description": null
    }
}
```

#### Exemplo de JSON a ser recebido para transferências bancárias via Pix
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
    "event": "TRANSFER_CREATED",
    "transfer": {
        "object": "transfer",
        "id": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
        "dateCreated": "2019-05-02",
        "status": "PENDING",
        "effectiveDate": null,
        "endToEndIdentifier": null,
        "type": "BANK_ACCOUNT",
        "value": 1000,
        "netValue": 1000,
        "transferFee": 0,
        "scheduleDate": "2019-05-02",
        "authorized": true,
        "failReason": null,
        "transactionReceiptUrl": null,
        "bankAccount": {
            "bank": {
                "ispb": "00000000",
                "code": "001",
                "name": "Banco do Brasil"
            },
            "accountName": "Conta Banco do Brasil",
            "ownerName": "Marcelo Almeida",
            "cpfCnpj": "***.143.689-**",
            "agency": "1263",
            "agencyDigit": "1",
            "account": "26544",
            "accountDigit": "1",
            "pixAddressKey": null
        },
        "operationType": "PIX",
        "description": "Transferência efetuada via Pix manual"
    }
}
```

#### Exemplo de JSON a ser recebido para transferências bancárias via Pix com chave
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
    "event": "TRANSFER_CREATED",
    "transfer": {
        "object": "transfer",
        "id": "777eb7c8-b1a2-4356-8fd8-a1b0644b5282",
        "dateCreated": "2019-05-02",
        "status": "PENDING",
        "effectiveDate": null,
        "endToEndIdentifier": null,
        "type": "BANK_ACCOUNT",
        "value": 1000,
        "netValue": 1000,
        "transferFee": 0,
        "scheduleDate": "2019-05-02",
        "authorized": true,
        "failReason": null,
        "transactionReceiptUrl": null,
        "bankAccount": {
            "bank": {
                "ispb": "00000000",
                "code": "001",
                "name": "Banco do Brasil"
            },
            "accountName": "Conta Banco do Brasil",
            "ownerName": "Marcelo Almeida",
            "cpfCnpj": "***.143.689-**",
            "agency": "1263",
            "agencyDigit": "1",
            "account": "26544",
            "accountDigit": "1",
            "pixAddressKey": "09413412375",
        },
        "operationType": "PIX",
        "description": "Transferência efetuada via Pix com chave"
    }
}
```

#### Exemplo de JSON a ser recebido para transferências entre contas Asaas [POST]
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
    "event": "TRANSFER_CREATED",
    "transfer": {
        "object": "transfer",
        "id": "dc0cd262-5050-4c82-bddc-dc2463f7ff07",
        "dateCreated": "2021-01-01",
        "status": "DONE",
        "effectiveDate": "2021-01-01",
        "endToEndIdentifier": null,
        "type": "ASAAS_ACCOUNT",
        "value": 1000,
        "transferFee": 0,
        "scheduleDate": "2021-11-17",
        "authorized": true,
        "walletId": "1f7184ab-9671-4f43-9ab5-c2349e7bf61",
        "account": {
            "name": "Marcelo Almeida",
            "cpfCnpj": "***.143.689-**"
        },
        "transactionReceiptUrl": "https://www.asaas.com/comprovantes/8962440029817277",
        "operationType": "INTERNAL",
        "description": null
    }
}
```

> **Atenção:**
> - Transferências entre contas Asaas são realizadas instantaneamente. Caso a validação de evento crítico via Token APP ou Token SMS esteja habilitada para o agendamento de transferências, a transferência ficará pendente até que a validação seja realizada.
> - Transferências via Pix não agendadas são realizadas instantaneamente. O Token APP e Token SMS devem estar desabilitados.

### Webhook para pague contas

É possível utilizar webhook para que seu sistema seja notificado sobre alterações que ocorram
no pagamento de contas. Os eventos que o Asaas notifica são:

- `BILL_CREATED` - Geração de um novo pague contas.
- `BILL_PENDING` - Pagamento de contas aguardando processamento.
- `BILL_BANK_PROCESSING` - Pagamento de contas aguardando processamento bancário.
- `BILL_PAID` - Pagamento de contas pago.
- `BILL_CANCELLED` - Pagamento de contas cancelado.
- `BILL_FAILED` - Pagamento de contas falhou.
- `BILL_REFUNDED` - Pagamento de contas estornado.

#### Exemplo de JSON a ser recebido [POST]
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
    "event":"BILL_PAID",
    "bill": {
        "object": "bill",
        "id": "f1bce822-6f37-4905-8de8-f1af9f2f4bab",
        "status": "PAID",
        "value": 29.90,
        "discount": 0.00,
        "interest": 0.00,
        "fine": 0.00,
        "identificationField": "03399.77779 29900.000000 04751.101017 1 81510000002990",
        "dueDate": "2020-01-31",
        "scheduleDate": "2020-01-31",
        "paymentDate": null,
        "fee": 0.00,
        "description": "Celular 01/12",
        "companyName": null,
        "transactionReceiptUrl": "https://www.asaas.com/comprovantes/00016578",
        "canBeCancelled": false,
        "failReasons": null
    }
}
```

> **Atenção:**
> - Com a entrada de novos produtos e funções dentro do Asaas, é possível que novos atributos sejam incluídos no Webhook. É muito importante que seu código esteja preparado para não gerar exceções caso o Asaas devolva novos atributos não tratados pela sua aplicação, pois isso poderá causar interrupção na fila de sincronização.
> - Enviaremos um e-mail quando novos campos forem incluídos no Webhook. O disparo será feito para o e-mail de notificação definido nas [configurações do webhook](#reference/configuracao-de-webhooks/webhook-para-cobrancas/criar-ou-atualizar-configuracao-para-webhook).

### Webhook para antecipações

É possível utilizar webhook para que seu sistema seja notificado sobre alterações que ocorram
nas antecipações. Os eventos que o Asaas notifica são:

- `RECEIVABLE_ANTICIPATION_CANCELLED` - Antecipação cancelada.
- `RECEIVABLE_ANTICIPATION_SCHEDULED` - Antecipação agendada.
- `RECEIVABLE_ANTICIPATION_PENDING` - Antecipação em análise.
- `RECEIVABLE_ANTICIPATION_CREDITED` - Antecipação creditada.
- `RECEIVABLE_ANTICIPATION_DEBITED` - Antecipação debitada.
- `RECEIVABLE_ANTICIPATION_DENIED` - Solicitação da antecipação negada.
- `RECEIVABLE_ANTICIPATION_OVERDUE` - Antecipação vencida.

#### Exemplo de JSON a ser recebido [POST]
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
  "event": "RECEIVABLE_ANTICIPATION_CREDITED",
  "anticipation": {
    "object": "anticipation",
    "id": "29ad50e9-64ee-427e-a00c-a3999510ca0a",
    "installment": null,
    "payment": "pay_4310966350068380",
    "status": "CREDITED",
    "anticipationDate": "19/09/2022",
    "dueDate": "30/09/2022",
    "requestDate": "19/09/2022",
    "fee": 5.64,
    "anticipationDays": 11,
    "netValue": 302.37,
    "totalValue": 310,
    "value": 308.01,
    "denialObservation": null
  }
}
```

> **Atenção:**
> - Com a entrada de novos produtos e funções dentro do Asaas, é possível que novos atributos sejam incluídos no Webhook. É muito importante que seu código esteja preparado para não gerar exceções caso o Asaas devolva novos atributos não tratados pela sua aplicação, pois isso poderá causar interrupção na fila de sincronização.
> - Enviaremos um e-mail quando novos campos forem incluídos no Webhook. O disparo será feito para o e-mail de notificação definido nas [configurações do webhook](#reference/configuracao-de-webhooks/webhook-para-cobrancas/criar-ou-atualizar-configuracao-para-webhook).

### Webhook para recargas de celular

É possível utilizar webhook para que seu sistema seja notificado sobre alterações que ocorram
nas recargas de celular. Os eventos que o Asaas notifica são:

- `PHONE_RECHARGE_PENDING` - Recarga de celular pendente.
- `PHONE_RECHARGE_CANCELLED` - Recarga de celular cancelada.
- `PHONE_RECHARGE_CONFIRMED` - Recarga de celular confirmada.
- `PHONE_RECHARGE_REFUNDED`- Recarga de celular estornada.

#### Exemplo de JSON a ser recebido [POST]
A notificação consiste em um POST contendo um JSON, conforme este exemplo:

```
{
   "event":"PHONE_RECHARGE_CONFIRMED",
   "mobilePhoneRecharge":{
      "id": "29ad50e9-64ee-427e-a00c-a3999510ca0a",
      "value":15,
      "phoneNumber":"62982055478",
      "status":"CONFIRMED",
      "canBeCancelled":false,
      "operatorName":"Tim"
   }
}
```

> **Atenção:**
> - Com a entrada de novos produtos e funções dentro do Asaas, é possível que novos atributos sejam incluídos no Webhook. É muito importante que seu código esteja preparado para não gerar exceções caso o Asaas devolva novos atributos não tratados pela sua aplicação, pois isso poderá causar interrupção na fila de sincronização.
> - Enviaremos um e-mail quando novos campos forem incluídos no Webhook. O disparo será feito para o e-mail de notificação definido nas [configurações do webhook](#reference/configuracao-de-webhooks/webhook-para-cobrancas/criar-ou-atualizar-configuracao-para-webhook).


### Resolvendo sincronia interrompida

Caso você receba um email avisando de problemas na sincronização do Webhook acesse `https://www.asaas.com/webhook/list?type=PAYMENT`, `https://asaas.com/webhook/list?type=INVOICE` ou `https://asaas.com/webhook/list?type=TRANSFER` para ver os logs do que o Asaas enviou para a sua aplicação e qual foi a resposta recebida.

Se você encontrar alguma mensagem de erro ou código HTTP de resposta nos logs e ficar em dúvida sobre como resolver, você pode consultar na tabela abaixo para algumas sugestões de solução:

| Código HTTP ou mensagem de erro | Sugestão de solução                                                                                                                                                             |
|---------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| 403 Forbidden                   | Verifique se o seu Firewall não está bloqueando as requisições que possuem o Asaas como origem. Certifique-se de liberar os [IPs de origem](#ips-de-origem) e o [Header das requisições](#user-agent-java) enviadas pelo Asaas. |
| 500 Internal Server Error       | A conexão com o seu servidor foi estabelecida, porém a sua aplicação retornou erro. Isso ocorre geralmente devido a alguma exceção ocorrida no seu código/tecnologia.           |
| Read Timed Out                  | A conexão com o seu servidor foi estabelecida e o evento foi disparado, porém sua aplicação não retornou a resposta dentro do tempo esperado. O Asaas aguardará a resposta por 10 segundos.                                   |
| Connect timed out               | A conexão não foi estabelecida após atingir o tempo limite.                                                                                                                     |

## Split de pagamentos

O Split é a divisão do saldo de uma cobrança entre múltiplas contas.
Por exemplo, consideremos o seguinte cenário hipotético: João faz uma venda de R$ 200,00 e Marcelo deve receber 20% do valor da venda. Neste caso, a cobrança deve ser criada na conta do João (pois é ele quem fez venda ou prestou o serviço), e através das configurações de Split será indicado que Marcelo deve receber os 20% do valor da cobrança.
Desta maneira, ao registrar o recebimento da cobrança, o Asaas fará o débito desses 20% do valor da cobrança da conta do João e creditará os 20% na conta de Marcelo.


Ao configurar o Split é possível informar tanto valor fixo quanto percentual sobre a cobrança. No caso de percentual, o valor a ser transferido é calculado com base no valor líquido (após o desconto da tarifa do Asaas) da cobrança.
Em caso de estorno da cobrança, o Split também será estornado, ou seja, todas as contas que receberam o saldo da cobrança em questão terão a transferência estornada.

> **Atenção:**
> O split é uma funcionalidade exclusiva da API do ASAAS, portanto, a visualização e gestão dessas operações deve ser realizadas através do consumo das APIs. No painel web do ASAAS, serão visualizadas somente as linhas de crédito e débito no extrato dos envolvidos na operação.

### O que preciso para utilizar o split?
Para fazer Split de cobranças é necessário que você tenha o walletId de todas as contas Asaas envolvidas nas transação.

> **Atenção:**
>Não há limite no número de walletId a serem enviados no split. A limitação sempre será o valor líquido total da cobrança em casos de valores fixos e a distribuição de 100% nos splits em valores percentuais.

### WalletId
O walletId é retornado pelo Asaas no momento da criação da conta via API. Caso você não o tenha armazenado ou a conta não tenha sido criada via API, acesse nossa seção [recuperar walletId](#reference/0/informacoes-e-personalizacao-da-conta/recuperar-walletid) para mais detalhes sobre como obtê-lo.

### Split em Cobranças Avulsas

A única diferença entre a criação de uma cobrança avulsa com e sem Split se dará no envio do array split na requisição de [criação de uma cobrança avulsa](#reference/0/cobrancas/criar-nova-cobranca). Este array é chamado split e contém a lista de objetos walletId e valores a serem transferidos quando a cobrança for recebida:

````json
{
   ...
   "split":[
      {
         "walletId":"48548710-9baa-4ec1-a11f-9010193527c6",
         "fixedValue":20
      },
      {
         "walletId":"0b763922-aa88-4cbe-a567-e3fe8511fa06",
         "percentualValue":10
      }
   ]
}
````

### Split em Parcelamentos
Ao utilizar o split em [parcelamentos](#reference/0/cobrancas/criar-uma-cobranca-parcelada), temos duas formas de configurar a divisão do valor:

Enviando o valor que deve ser aplicado em cada parcela, previamente calculado. Por exemplo, se você possui uma cobrança de R$100,00 que será dividida em 4 parcelas e precisará realizar um split total de R$40,00, você precisará enviar nas atribuições do split o valor de R$10,00 no campo fixedValue, sendo assim, serão aplicados R$10,00 de split para cada parcela automaticamente, garantindo o split de R$40,00 ao término da quitação do parcelamento.

Enviando o valor total de split a ser abatido do valor total do parcelamento. Utilizando deste método o Asaas irá executar a divisão conforme o número de parcelas. Por exemplo, se você possui uma cobrança de R$300,00 que será dividida em 3 parcelas e precisará realizar um split total de R$100,00, você deve enviar nas atribuições do split o valor de R$100,00 no campo totalFixedValue, sendo assim, serão aplicados splits de R$33,33; R$33,33 e R$33,34 para cada parcela respectivamente de forma automática, garantindo o split de R$100,00 ao término da quitação do parcelamento.

````json
{
   ...
   "totalValue":100,
   "installmentCount":4,
   "split":[
      {
         "walletId":"48548710-9baa-4ec1-a11f-9010193527c6",
         "percentualValue":10
      }
   ]
}
````
````json
{
   ...
   "totalValue":300,
   "installmentCount":3,
   "split":[
      {
         "walletId":"0b763922-aa88-4cbe-a567-e3fe8511fa06",
         "totalFixedValue":100
      },
      {
         "walletId":"48548710-9baa-4ec1-a11f-9010193527c6",
         "fixedValue":10
      }
   ]
}
````

### Split em Assinaturas
A única diferença entre a criação de uma assinatura com e sem Split se dará no envio do array split na requisição de criação de uma assinatura. Este array é chamado split e contém a lista de objetos walletId e valores a serem transferidos quando a cobrança for recebida.<br>

````json
{
    ...
    "split":[
        {
            "walletId":"48548710-9baa-4ec1-a11f-9010193527c6",
            "fixedValue":20
        },
        {
            "walletId":"0b763922-aa88-4cbe-a567-e3fe8511fa06",
            "percentualValue":10
        }
    ]
}
````

> **Atenção:**
> O split configurado na assinatura servirá como um template, que será utilizado na criação de cada nova cobrança.<br>

### Atualizar Split da Assinatura
Para atualizar o split, basta recuperar o ID da assinatura e utilizar o método de [Atualização de assinatura](#reference/0/assinatura/atualizar-assinatura-existente) para realizar a atualização e informar os novos atributos de split.

````json
{
    ...
    "split":[
        {
            "walletId":"48548710-9baa-4ec1-a11f-9010193527c6",
            "fixedValue":10
        }
    ]
}
````

> **Atenção:**
> Ao atualizar uma assinatura, caso não queira alterar as configurações do Split, não informe o parâmetro split na requisição, pois passando null ou [] o Split será desativado.
> Cobranças já geradas não irão ser atualizadas. Para atualizar o split de cobranças já geradas será necessário fazê-lo manualmente em cada cobrança da assinatura seguindo os passos de [Atualizar Split da Cobrança](#introduction/split-de-pagamentos/atualizar-split-da-cobranca).

### Consultar Split em Assinatura
Para consultas as definições de split de uma determinada assinatura, você poderá utilizar o método de [Listar Assinaturas](#reference/0/assinaturas/listar-assinaturas) ou então [Recuperar uma única assinatura](#reference/0/assinaturas/recuperar-uma-unica-assinatura).

### Atualizar Split da Cobrança
Para atualizar o split, basta recuperar o ID da cobrança e utilizar o método de [Atualização de cobrança](#reference/0/cobrancas/atualizar-cobranca-existente) para realizar a atualização e informar os novos atributos de split.

````json
{
    ...
    "split":[
        {
            "walletId":"48548710-9baa-4ec1-a11f-9010193527c6",
            "fixedValue":10
        }
    ]
}
````

> **Atenção:**
> Ao atualizar uma cobrança, caso não queira alterar as configurações do Split, não informe o parâmetro split na requisição, pois passando null ou [] o Split será desativado.

### Consultar Split em Cobrança
Para consultas as definições de split de uma determinada cobrança, você poderá utilizar o método de [Listar Cobranças](#reference/0/cobrancas/listar-cobrancas) ou então [Recuperar uma única cobrança](#reference/0/cobrancas/recuperar-uma-unica-cobranca).
Caso a cobrança possua split definido, a resposta lhe trará a lista de objetos das cobranças, onde você poderá visualizar o array de split na raiz do payment. Caso o array não seja devolvido, indica que o split não está aplicado na cobrança.
Os dados de split aplicados na cobrança também serão enviados nos Webhooks disparados pelo ASAAS.

### Split em Cobranças Antecipadas
Caso você decida antecipar cobranças que possuam split aplicados, será preciso se atentar a algumas regras para uso de ambas as funcionalidades.

#### Split em valores fixos

Na antecipação de cobranças com split em valores fixos, no momento de definir os valores do split, é preciso observar que o valor máximo a ser aplicado como split será o valor líquido da cobrança, já deduzindo as taxas do Asaas e também as taxas da antecipação.
Caso o valor de split configurado exceda o valor final a ser recebido após a antecipação, não será possível prosseguir com a solicitação de antecipação no Asaas.

#### Split em valores percentuais

Na antecipação de cobranças com split em valores percentuais, o Asaas realizará o cálculo do valor a ser aplicado como split com base no valor líquido final que será recebido após a antecipação.
Ou seja, o valor final de crédito já antecipado será a base para o cálculo do percentual.
Por exemplo, se houver um split de 100% configurado em uma cobrança que foi antecipada, todo o valor recebido após o crédito da antecipação será aplicado como split seguindo a regra percentual.


## Rate Limiting
Possuímos limites de solicitações em certos endpoints onde o abuso pode de certa forma comprometer o desempenho e o uso das APIs do Asaas.
Medimos as requisições e podemos restringi-las quando a quantidade permitida é ultrapassada.

Você pode verificar o status nos cabeçalhos de resposta após uma requisição:
```
RateLimit-Limit: 100
RateLimit-Remaining: 50
RateLimit-Reset: 30
```
O cabeçalho `RateLimit-Reset` possui os segundos faltantes para resetar o limite.

Se o limite for atingido ou ultrapassado (`RateLimit-Remaining: 0`), você receberá um erro `HTTP 429 Too Many Requests`.

## Status Page
É possível checar a disponibilidade de nossos serviços através de nossa página de Status.
A mesma pode ser acessada em https://status.asaas.com/

## Suporte
Se mesmo após ler a documentação restarem dúvidas ou encontrar algum problema, envie email para suporte-tecnico@asaas.com.
O tempo típico de resposta em horário comercial é de 4 horas.

## Clientes [/customers]

### Criar novo cliente [POST]

Possibilita criar um novo cliente. Para que seja possível criar uma cobrança, antes é necessário
criar o cliente ao qual ela irá pertencer. Você deve utilizar o ID retornado nesta requisição na criação da cobrança.

Caso você envie o `postalCode` do cliente, não é necessário enviar os atributos
`city`, `province` e `address`, pois o Asaas preencherá estas informações automaticamente
com base no CEP que você informou. Nestes casos basta enviar somente
`postalCode` e `addressNumber`.

No campo `city` é retornado um identificador. Caso você queira obter o nome e demais informações da cidade você deve fazer a seguinte requisição utilizando esse identificador:
`GET https://www.asaas.com/api/v3/cities/{city_id}`

> **Atenção:** O sistema permite a criação de clientes duplicados. Portanto, se você não quiser permitir é necessário implementar a validação antes de realizar a criação do cliente. Você pode consultar a existência do cliente no [Listar Clientes](#reference/0/clientes/listar-clientes).

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewCustomer)

    + Body
            {
                "name": "Marcelo Almeida",
                "email": "marcelo.almeida@gmail.com",
                "phone": "4738010919",
                "mobilePhone": "4799376637",
                "cpfCnpj": "24971563792",
                "postalCode": "01310-000",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "externalReference": "12987382",
                "notificationDisabled": false,
                "additionalEmails": "marcelo.almeida2@gmail.com,marcelo.almeida3@gmail.com",
                "municipalInscription": "46683695908",
                "stateInscription": "646681195275",
                "observations": "ótimo pagador, nenhum problema até o momento"
            }


+ Response 200 (application/json)


    + Body

            {
                "object": "customer",
                "id": "cus_13bFHumeyglN",
                "dateCreated": "08/03/2017",
                "name": "Marcelo Almeida",
                "email": "marcelo.almeida@gmail.com",
                "phone": "4738010919",
                "mobilePhone": "4799376637",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "postalCode": "01310000",
                "cpfCnpj": "24971563792",
                "personType": "FISICA",
                "deleted": false,
                "additionalEmails": "marcelo.almeida2@gmail.com,marcelo.almeida3@gmail.com",
                "externalReference": "12987382",
                "notificationDisabled": false,
                "city": 15873,
                "state": "SP",
                "country": "Brasil",
                "observations": "ótimo pagador, nenhum problema até o momento"
            }

### Recuperar um único cliente [GET /customers/{id}]

Para recuperar um cliente específico é necessário que você tenha o ID que o Asaas retornou no momento da criação dele.

+ Parameters
    + id - Identificador único do cliente no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)


    + Body

            {
                "object": "customer",
                "id": "cus_13bFHumeyglN",
                "dateCreated": "08/03/2017",
                "name": "Marcelo Almeida",
                "email": "marcelo.almeida@gmail.com",
                "phone": "4738010919",
                "mobilePhone": "4799376637",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "postalCode": "01310000",
                "cpfCnpj": "24971563792",
                "personType": "FISICA",
                "deleted": false,
                "additionalEmails": "marcelo.almeida2@gmail.com,marcelo.almeida3@gmail.com",
                "externalReference": "12987382",
                "notificationDisabled": false,
                "city": 15873,
                "state": "SP",
                "country": "Brasil",
                "observations": "ótimo pagador, nenhum problema até o momento"
            }

### Listar clientes [GET /customers{?name,email,cpfCnpj,groupName,externalReference,offset,limit}]
Diferente da recuperação de um cliente específico, este método retorna
uma lista paginada com todos os clientes para os filtros informados.

Filtrar por nome: `GET https://www.asaas.com/api/v3/customers?name=Marcelo`

Filtrar por CPF ou CNPJ: `GET https://www.asaas.com/api/v3/customers?cpfCnpj=42885229519`

+ Parameters
    + name (optional) - Filtrar por nome
    + email (optional) - Filtrar por email
    + cpfCnpj (optional) - Filtrar por CPF ou CNPJ
    + groupName (optional) - Filtrar por grupo
    + externalReference (optional) - Filtrar pelo Identificador do seu sistema
    + offset (number, optional) - Elemento inicial da lista
    + limit (number, optional) - Número de elementos da lista (max: 100)

+ Request

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

        {
            "object": "list",
            "hasMore": true,
            "totalCount": 50,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                "object": "customer",
                "id": "cus_kOV4UNfRBTui",
                "dateCreated": "2017-02-27",
                "name": "Marcelo Almeida",
                "email": "marcelo.almeida@gmail.com",
                "cpfCnpj": "24971563792",
                "phone": "1132300505",
                "mobilePhone": "11991844145",
                "address": "Av. Paulista",
                "addressNumber": "200",
                "complement": "Sala 502",
                "province": "Centro",
                "postalCode": "01310000",
                "city": "cit_938471928372",
                "deleted": false,
                "additionalEmails": "marcelo.almeida+2@gmail.com;marcelo.almeida3@gmail.com",
                "externalReference": "9237487",
                "notificationDisabled": false,
                "groups": [
                    {
                        "name": "Padarias"
                    }
                ]

                },
                {
                "object": "customer",
                "id": "cus_ekjsdi38sh2",
                "dateCreated": "2017-02-15",
                "name": "Ricardo Santos",
                "email": "ricardo.santos@gmail.com",
                "cpfCnpj": "45414972478",
                "phone": "1132360909",
                "mobilePhone": "11991844145",
                "address": "Av. Paulista",
                "addressNumber": "200",
                "complement": "Sala 502",
                "province": "Centro",
                "postalCode": "01310000",
                "city": "cit_938471928372",
                "deleted": false,
                "additionalEmails": null,
                "externalReference": "25468786",
                "notificationDisabled": false
                }
            ]
        }

### Atualizar cliente existente [POST /customers/{id}]

Permite atualizar as informações de um cliente já existente.

+ Parameters
    + id (required) ... Identificador único do cliente a ser atualizado.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (BaseCustomer)


    + Body
            {
                "name": "Marcelo Almeida",
                "email": "marcelo.almeida@gmail.com",
                "phone": "4738010919",
                "mobilePhone": "4799376637",
                "cpfCnpj": "24971563792",
                "postalCode": "01310-000",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "externalReference": "12987382",
                "notificationDisabled": false,
                "additionalEmails": "marcelo.almeida2@gmail.com,marcelo.almeida3@gmail.com",
                "municipalInscription": "46683695908",
                "stateInscription": "646681195275"
            }


+ Response 200 (application/json)


    + Body

            {
                "object": "customer",
                "id": "cus_13bFHumeyglN",
                "dateCreated": "08/03/2017",
                "name": "Marcelo Almeida",
                "email": "marcelo.almeida@gmail.com",
                "phone": "4738010919",
                "mobilePhone": "4799376637",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "postalCode": "01310000",
                "cpfCnpj": "24971563792",
                "personType": "FISICA",
                "deleted": false,
                "additionalEmails": "marcelo.almeida2@gmail.com,marcelo.almeida3@gmail.com",
                "externalReference": "12987382",
                "notificationDisabled": false,
                "city": 15873,
                "state": "SP",
                "country": "Brasil"
            }

### Remover cliente [DELETE /customers/{id}]

Ao remover um cliente, as assinaturas e cobranças aguardando pagamento ou vencidas pertencentes a ela também são removidas.

+ Parameters
    + id (required) ... Identificador único do cliente a ser removido.

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)


    + Body

            {
                "deleted": true,
                "id": "cus_pCczZjBBr6RL"
            }

### Restaurar cliente removido [POST /customers/{id}/restore]

Restaurar cliente que foi removido.

+ Parameters
    + id (required) ... Identificador único do cliente a ser restaurado.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)


    + Body

            {
                "object": "customer",
                "id": "cus_13bFHumeyglN",
                "dateCreated": "08/03/2017",
                "name": "Marcelo Almeida",
                "email": "marcelo.almeida@gmail.com",
                "phone": "4738010919",
                "mobilePhone": "4799376637",
                "address": "Av. Paulista",
                "addressNumber": "150",
                "complement": "Sala 201",
                "province": "Centro",
                "postalCode": "01310000",
                "cpfCnpj": "24971563792",
                "personType": "FISICA",
                "deleted": false,
                "additionalEmails": "marcelo.almeida2@gmail.com,marcelo.almeida3@gmail.com",
                "externalReference": "12987382",
                "notificationDisabled": false,
                "city": 15873,
                "state": "SP",
                "country": "Brasil"
            }

## Cobranças [/payments]

Os status possíveis de uma cobrança são os seguintes:

`PENDING` - Aguardando pagamento

`RECEIVED` - Recebida (saldo já creditado na conta)

`CONFIRMED` - Pagamento confirmado (saldo ainda não creditado)

`OVERDUE` - Vencida

`REFUNDED` - Estornada

`RECEIVED_IN_CASH` - Recebida em dinheiro (não gera saldo na conta)

`REFUND_REQUESTED` - Estorno Solicitado

`CHARGEBACK_REQUESTED` - Recebido chargeback

`CHARGEBACK_DISPUTE` - Em disputa de chargeback (caso sejam apresentados documentos para contestação)

`AWAITING_CHARGEBACK_REVERSAL` - Disputa vencida, aguardando repasse da adquirente

`DUNNING_REQUESTED` - Em processo de negativação

`DUNNING_RECEIVED` - Recuperada

`AWAITING_RISK_ANALYSIS` - Pagamento em análise

### Criar nova cobrança [POST]

Cria uma nova cobrança. É possível escolher entre as formas de pagamento com boleto, cartão de crédito, Pix ou permitir que o cliente escolha a forma que desejar.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewPayment)

    + Body
            {
                "customer": "{CUSTOMER_ID}",
                "billingType": "BOLETO",
                "dueDate": "2017-06-10",
                "value": 100.00,
                "description": "Pedido 056984",
                "externalReference": "056984",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "postalService": false
            }


+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "canBePaidAfterDueDate": true,
                "pixTransaction": null,
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "installmentNumber": null,
                "transactionReceiptUrl": null,
                "nossoNumero": "6453",
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "anticipable": false,
                "refunds": null
            }


### Criar cobrança com cartão de crédito [POST]
Ao criar uma cobrança com a forma de pagamento cartão de crédito, é possível redirecionar o cliente para a
URL da fatura (`invoiceUrl`) afim de que ele informe os dados do cartão através da interface do Asaas,
ou os dados do cartão e do portador podem ser enviados na requisição de criação para que o pagamento já seja processado.

Para tal, ao executar a requisição de criação da cobrança, basta enviar os dados do cartão de crédito juntamente
com os dados do titular através dos objetos `creditCard` e `creditCardHolderInfo`. É importante que os dados
do titular sejam exatamente os mesmos cadastrados no banco emissor do cartão, caso contrário a transação poderá
ser negada por suspeita de fraude.

Se a transação for autorizada a cobrança será criada e o Asaas retornará `HTTP 200`. Caso contrário
a cobrança não será persistida e será retornado `HTTP 400`.

Em `Sandbox` as transações são aprovadas automaticamente, caso queira simular um erro é necessário informar o cartão de crédito de número `5184019740373151 (Mastercard)` ou `4916561358240741 (Visa)`.

##### Tokenização de cartão de crédito <a name="tokenizacao-de-cartao-de-credito"></a>
- Ao realizar uma primeira transação para o cliente com cartão de crédito, a resposta do Asaas lhe devolverá o atributo `creditCardToken`.
- Em posse dessa informação, nas próximas transações, o atributo `creditCardToken` pode substituir os objetos `creditCard` e `creditCardHolderInfo` e ser informado diretamente na raiz da requisição, não necessitando assim que os objetos sejam informados novamente.

> **Atenção:**
> - Independente da data de vencimento informada, a captura (cobrança no cartão do cliente) será efetuada no momento da criação da cobrança.
> - Caso você opte por capturar na interface do seu sistema os dados do cartão do cliente, é
obrigatório o uso de SSL (HTTPS), caso contrário sua conta pode ser bloqueada para transações via
cartão de crédito.
> - Para se evitar timeouts e decorrentemente duplicidades na captura, recomendamos a configuração de um timeout mínimo de 60 segundos para este request.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewPaymentWithCreditCard)

    + Body
            {
                "customer": "cus_0T1mdomVMi39",
                "billingType": "CREDIT_CARD",
                "dueDate": "2017-03-15",
                "value": 100.00,
                "description": "Pedido 056984",
                "externalReference": "056984",
                "creditCard": {
                    "holderName": "marcelo h almeida",
                    "number": "5162306219378829",
                    "expiryMonth": "05",
                    "expiryYear": "2021",
                    "ccv": "318"
                },
                "creditCardHolderInfo": {
                    "name": "Marcelo Henrique Almeida",
                    "email": "marcelo.almeida@gmail.com",
                    "cpfCnpj": "24971563792",
                    "postalCode": "89223-005",
                    "addressNumber": "277",
                    "addressComplement": null,
                    "phone": "4738010919",
                    "mobilePhone": "47998781877"
                },
                "creditCardToken": "76496073-536f-4835-80db-c45d00f33695",
                "remoteIp": "116.213.42.532"
            }


+ Response 200 (application/json)

    + Attributes (PaymentWithCreditCard)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-03-15",
                "value": 100.00,
                "netValue": 94.51,
                "billingType": "CREDIT_CARD",
                "pixTransaction": null,
                "status": "CONFIRMED",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "confirmedDate": "2017-03-15",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "installmentNumber": null,
                "transactionReceiptUrl": "https://www.asaas.com/comprovantes/9732f4ae3a760ce63e7640e9016d4be1",
                "nossoNumero": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": null,
                "invoiceNumber": "00005101",
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "anticipable": false,
                "creditCard": {
                    "creditCardNumber": "8829",
                    "creditCardBrand": "MASTERCARD",
                    "creditCardToken": "a75a1d98-c52d-4a6b-a413-71e00b193c99"
                }
            }

### Tokenização de cartão de crédito [POST /creditCard/tokenize]
Essa funcionalidade permite você cobrar de seus clientes recorrentemente sem a necessidade deles informarem todos os dados de cartão de crédito novamente.
Tudo isso de forma segura por meio de um token.

> **Atenção**:
> - A funcionalidade de tokenização está previamente habilitada em Sandbox e você já pode testá-la. Para uso em produção, é necessário solicitar a habilitação da funcionalidade ao seu gerente de contas. A habilitação da funcionalidade está sujeita a análise prévia, podendo ser aprovada ou negada de acordo com os riscos da operação.
> - O token é armazenado por cliente, não podendo ser utilizado em transações de outros clientes.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewTokenizeCreditCard)

    + Body
            {
                "customer": "{CUSTOMER_ID}",
                "creditCard": {
                    "holderName": "marcelo h almeida",
                    "number": "5162306219378829",
                    "expiryMonth": "05",
                    "expiryYear": "2021",
                    "ccv": "318"
                },
                "creditCardHolderInfo": {
                    "name": "Marcelo Henrique Almeida",
                    "email": "marcelo.almeida@gmail.com",
                    "cpfCnpj": "24971563792",
                    "postalCode": "89223-005",
                    "addressNumber": "277",
                    "addressComplement": null,
                    "phone": "4738010919",
                    "mobilePhone": "47998781877"
                },
                "remoteIp": "116.213.42.532"
            }

+ Response 200 (application/json)

    + Attributes (CreditCardResponse)

    + Body
            {
                "creditCardNumber": "8829",
                "creditCardBrand": "MASTERCARD",
                "creditCardToken": "a75a1d98-c52d-4a6b-a413-71e00b193c99"
            }

### Criar uma cobrança parcelada [POST]

Para criar uma cobrança parcelada, ao invés de enviar o parâmetro `value`, envie `installmentCount`
e `installmentValue`, que representam o **número de parcelas** e o **valor da cada parcela** respectivamente.

Caso prefira informar apenas o valor total do parcelamento, envie o campo `totalValue` no lugar do `installmentValue` com o valor desejado. Se não for possível a divisão exata dos valores de cada parcela, a diferença sera compensada na última parcela.
Por exemplo, um parcelamento com o valor total de R$ 350,00 divido em 12 vezes geraria 11 parcelas no valor de R$: 29,16, sendo a décima segunda parcela no valor de R$: 29,24, totalizando R$: 350.00.

A resposta em caso de sucesso será a primeira cobrança do parcelamento. Caso queira recuperar todas as parcelas basta
executa a seguinte requisição com o `installment` retornado :

`GET https://www.asaas.com/api/v3/payments?installment={installment_id}`

Outras ações sobre o parcelamento podem ser encontradas em nossa [seção de parcelamentos](#reference/parcelamentos).

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Attributes (NewPayment)

    + Body
            {
                "customer": "{CUSTOMER_ID}",
                "billingType": "BOLETO",
                "installmentCount": 6,
                "installmentValue": 20.00,
                "dueDate": "2017-06-10",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                }
            }


+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "installment": "5a2c890b-dd63-4b5a-9169-96c8d7828f4c",
                "dueDate": "2017-06-10",
                "value": 20.00,
                "netValue": 15.00,
                "billingType": "BOLETO",
                "canBePaidAfterDueDate": true,
                "pixTransaction": null,
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "installmentNumber": 3,
                "transactionReceiptUrl": null,
                "nossoNumero": "6453",
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "anticipable": false,
                "refunds": null
            }

### Recuperar uma única cobrança [GET /payments/{id}]

Para recuperar uma cobrança específica é necessário que você tenha o ID
que o Asaas retornou no momento da criação dela.

+ Parameters
    + id - Identificador único da cobrança no Asaas

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": "997152082166122",
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "canBePaidAfterDueDate": true,
                "pixTransaction": null,
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "installmentNumber": null,
                "transactionReceiptUrl": null,
                "nossoNumero": "6453",
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "anticipable": false,
                "chargeback": {
                    "status": "REQUESTED",
                    "reason": "PROCESS_ERROR"
                },
                "refunds": null
            }

### Listar cobranças [GET /payments{?customer,billingType,status,subscription,installment,externalReference,paymentDate,pixQrCodeId,anticipated,paymentDate%5Bge%5D,paymentDate%5Ble%5D,dueDate%5Bge%5D,dueDate%5Ble%5D,user,offset,limit}]
Diferente da recuperação de uma cobrança específica, este método retorna
uma lista paginada com todas as cobranças para os filtros informados.

##### Exemplos de filtros

Listar cobranças de um cliente específico: `GET https://www.asaas.com/api/v3/payments?customer={customer_id}`

Filtrar por forma de pagamento: `GET https://www.asaas.com/api/v3/payments?billingType=CREDIT_CARD`

Filtrar por status: `GET https://www.asaas.com/api/v3/payments?status=RECEIVED`

Filtrar por status e forma de pagamento: `GET https://www.asaas.com/api/v3/payments?status=RECEIVED&billingType=CREDIT_CARD`

Filtrar por data de criação inicial e final: `GET https://www.asaas.com/api/v3/payments?dateCreated%5Bge%5D=2017-01-12&dateCreated%5Ble%5D=2017-11-28`

Filtrar por data de vencimento inicial e final: `GET https://www.asaas.com/api/v3/payments?dueDate%5Bge%5D=2017-01-12&dueDate%5Ble%5D=2017-11-28`

Filtrar por data de recebimento inicial e final: `GET https://www.asaas.com/api/v3/payments?paymentDate%5Bge%5D=2017-01-12&paymentDate%5Ble%5D=2017-11-28`

Filtrar apenas cobranças antecipadas: `GET https://www.asaas.com/api/v3/payments?anticipated=true`


+ Parameters
    + customer (optional) - Filtrar pelo Identificador único do cliente
    + billingType (optional, enum) - Filtrar por forma de pagamento
    + status (optional, enum) - Filtrar por status
    + subscription (optional) - Filtrar pelo Identificador único da assinatura
    + installment (optional) - Filtrar pelo Identificador único do parcelamento
    + externalReference (optional) - Filtrar pelo Identificador do seu sistema
    + paymentDate (optional) - Filtrar pela data de pagamento
    + estimatedCreditDate (optional) - Filtrar pela data estimada de crédito.
    + pixQrCodeId (optional) - Filtrar recebimentos originados de um QrCode estático utilizando o id gerado na hora da criação do QrCode.
    + anticipated (optional, boolean) - Filtrar registros antecipados ou não
    + dateCreated%5Bge%5D (optional) - Filtrar a partir da data de criação inicial
    + dateCreated%5Ble%5D (optional) - Filtrar a partir da data de criação final
    + paymentDate%5Bge%5D (optional) - Filtrar a partir da data de recebimento inicial
    + paymentDate%5Ble%5D (optional) - Filtrar a partir da data de recebimento final
    + estimatedCreditDate%5Bge%5D (optional) - Filtrar a partir da data estimada de crédito inicial
    + estimatedCreditDate%5Ble%5D (optional) - Filtrar a partir da data estimada de crédito final
    + dueDate%5Bge%5D (optional) - Filtrar a partir da data de vencimento inicial
    + dueDate%5Ble%5D (optional) - Filtrar a partir da data de vencimento final
    + user (optional) - Filtrar pelo endereço de e-mail do usuário que criou a cobrança.
    + offset (number, optional) - Elemento inicial da lista
    + limit (number, optional) - Número de elementos da lista (max: 100)

+ Request
    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)


    + Body

        {
            "object": "list",
            "hasMore": false,
            "totalCount": 2,
            "limit": 10,
            "offset": 0,
            "data": [
                {
                    "object": "payment",
                    "id": "pay_080225913252",
                    "dateCreated": "2017-03-10",
                    "customer": "cus_G7Dvo4iphUNk",
                    "paymentLink": "997152082166122",
                    "value": 200.00,
                    "netValue": 195.00,
                    "originalValue": null,
                    "interestValue": null,
                    "description": null,
                    "billingType": "BOLETO",
                    "canBePaidAfterDueDate": true,
                    "pixTransaction": null,
                    "status": "PENDING",
                    "dueDate": "2017-03-16",
                    "originalDueDate": "2017-03-16",
                    "paymentDate": null,
                    "clientPaymentDate": null,
                    "installmentNumber": null,
                    "transactionReceiptUrl": null,
                    "nossoNumero": "6453",
                    "invoiceUrl": "https://www.asaas.com/i/080225913252",
                    "invoiceNumber": "00005101",
                    "externalReference": null,
                    "deleted": false,
                    "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                    "postalService": true,
                    "anticipated": false,
                    "anticipable": false,
                    "refunds": null
                },
                {
                    "object": "payment",
                    "id": "pay_961122153955",
                    "dateCreated": "2017-03-08",
                    "customer": "cus_twmWzMzoTYoh",
                    "paymentLink": null,
                    "value": 50.00,
                    "netValue": 45.00,
                    "originalValue": null,
                    "interestValue": null,
                    "description": "Pedido 001387895",
                    "billingType": "CREDIT_CARD",
                    "pixTransaction": null,
                    "status": "PENDING",
                    "dueDate": "2017-04-16",
                    "originalDueDate": "2017-04-30",
                    "paymentDate": null,
                    "clientPaymentDate": null,
                    "installmentNumber": null,
                    "transactionReceiptUrl": null,
                    "nossoNumero": null,
                    "invoiceUrl": "https://www.asaas.com/i/961122153955",
                    "invoiceNumber": "00005100",
                    "externalReference": null,
                    "deleted": false,
                    "bankSlipUrl": "https://www.asaas.com/b/pdf/961122153955",
                    "postalService": false,
                    "anticipated": false,
                    "anticipable": false,
                    "refunds": null
                },
                {
                    "object": "payment",
                    "id": "pay_5789980123884542",
                    "dateCreated": "2021-11-16",
                    "customer": "cus_000025713200",
                    "paymentLink": null,
                    "value": 5,
                    "netValue": 4.99,
                    "originalValue": null,
                    "interestValue": 0,
                    "description": null,
                    "billingType": "PIX",
                    "confirmedDate": "2021-11-16",
                    "pixTransaction": "35364630-93e2-11ec-b9d9-96f4053b1bd4",
                    "pixQrCodeId": null,
                    "status": "RECEIVED",
                    "dueDate": "2021-11-16",
                    "originalDueDate": "2021-11-16",
                    "paymentDate": "2021-11-16",
                    "clientPaymentDate": "2021-11-16",
                    "installmentNumber": null,
                    "invoiceUrl": "https://www.asaas.com/i/5789980312384542",
                    "invoiceNumber": "74769223",
                    "externalReference": null,
                    "deleted": false,
                    "anticipated": false,
                    "anticipable": false,
                    "creditDate": "2021-11-16",
                    "estimatedCreditDate": null,
                    "transactionReceiptUrl": "https://www.asaas.com/comprovantes/4999578509123683",
                    "nossoNumero": "25890732",
                    "bankSlipUrl": null,
                    "lastInvoiceViewedDate": "2021-11-16T13:01:16Z",
                    "lastBankSlipViewedDate": null,
                    "discount": {
                        "value": 0.00,
                        "limitDate": null,
                        "dueDateLimitDays": 0,
                        "type": "PERCENTAGE"
                    },
                    "fine": {
                        "value": 0.00,
                        "type": "PERCENTAGE"
                    },
                    "interest": {
                        "value": 0.00,
                        "type": "PERCENTAGE"
                    },
                    "postalService": false,
                    "refunds": null
                },
                {
                    "object": "payment",
                    "id": "pay_5789980123884542",
                    "dateCreated": "2022-01-16",
                    "customer": "cus_000025713200",
                    "paymentLink": null,
                    "value": 5,
                    "netValue": 4.99,
                    "originalValue": null,
                    "interestValue": 0,
                    "description": null,
                    "billingType": "PIX",
                    "confirmedDate": "2022-01-16",
                    "pixTransaction": "35364630-93e2-11ec-b9d9-96f4053b1bd4",
                    "pixQrCodeId": "9bea9bcd226b45c7980065f598be54d5",
                    "status": "RECEIVED",
                    "dueDate": "2022-02-16",
                    "originalDueDate": "2022-02-16",
                    "paymentDate": "2022-01-16",
                    "clientPaymentDate": "2022-01-16",
                    "installmentNumber": null,
                    "invoiceUrl": "https://www.asaas.com/i/5789980312384542",
                    "invoiceNumber": "74769223",
                    "externalReference": null,
                    "deleted": false,
                    "anticipated": false,
                    "anticipable": false,
                    "creditDate": "2022-01-16",
                    "estimatedCreditDate": null,
                    "transactionReceiptUrl": "https://www.asaas.com/comprovantes/4999578509123683",
                    "nossoNumero": "25890732",
                    "bankSlipUrl": null,
                    "lastInvoiceViewedDate": "2022-01-16T13:01:16Z",
                    "lastBankSlipViewedDate": null,
                    "discount": {
                        "value": 0.00,
                        "limitDate": null,
                        "dueDateLimitDays": 0,
                        "type": "PERCENTAGE"
                    },
                    "fine": {
                        "value": 0.00,
                        "type": "PERCENTAGE"
                    },
                    "interest": {
                        "value": 0.00,
                        "type": "PERCENTAGE"
                    },
                    "postalService": false,
                    "refunds": [
                        {
                            "dateCreated": "2022-02-21 10:28:40",
                            "status": "DONE",
                            "value": 2.00,
                            "description": "Pagamento a mais",
                            "transactionReceiptUrl": "https://www.asaas.com/comprovantes/6677732109104548",
                        }
                    ]
                }
            ]
        }


### Atualizar cobrança existente [POST /payments/{id}]

Somente é possível atualizar cobranças aguardando pagamento ou vencidas. Uma vez criada, não é possível alterar
o cliente ao qual a cobrança pertence.

+ Parameters
    + id (required) ... Identificador único da cobrança a ser atualizada.

+ Request (application/json)

    + Headers

        access_token: sua_api_key

    + Attributes (NewPayment)

    + Body

        {
            "billingType": "BOLETO",
            "dueDate": "2017-06-10",
            "value": 100.00,
            "description": "Pedido 056984",
            "externalReference": "056984",
            "discount": {
                "value": 10.00,
                "dueDateLimitDays": 0
            },
            "fine": {
                "value": 1.00
            },
            "interest": {
                "value": 2.00
            },
            "postalService": false
        }

+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "canBePaidAfterDueDate": true,
                "pixTransaction": null,
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "installmentNumber": null,
                "transactionReceiptUrl": null,
                "nossoNumero": "6453",
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "anticipable": false,
                "refunds": null
            }

### Remover cobrança [DELETE /payments/{id}]

Somente cobranças aguardando pagamento ou vencidas podem ser removidas.

+ Parameters
    + id (required) ... Identificador único da cobrança a ser removida.

+ Request (application/json)

    + Headers
        access_token: sua_api_key


+ Response 200 (application/json)


    + Body

            {
                "deleted": true,
                "id": "pay_pCczZjBBr6RL"
            }


### Restaurar cobrança removida [POST /payments/{id}/restore]

Restaurar cobranças removidas.

+ Parameters
    + id (required) ... Identificador único da cobrança a ser restaurada.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "canBePaidAfterDueDate": true,
                "pixTransaction": null,
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "installmentNumber": null,
                "transactionReceiptUrl": null,
                "nossoNumero": "6453",
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
                    "value": 1.00
                },
                "interest": {
                    "value": 2.00
                },
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "anticipable": false,
                "refunds": null
            }


### Estornar cobrança [POST /payments/{id}/refund]

É possível estornar cobranças via cartão de crédito recebidas ou confirmadas. Ao fazer isto o saldo correspondente é debitado de sua conta no Asaas e a cobrança cancelada no cartão do seu cliente.
O cancelamento pode levar até 10 dias úteis para aparecer na fatura de seu cliente. Cobranças recebidas via Pix, permitem o estorno integral ou vários estornos parciais. A soma desses estornos não poderão ultrapassar o valor total da cobrança recebida.

> **Atenção:**
> Caso não seja informado nenhum valor, será utilizado o valor integral da cobrança.

+ Parameters
    + id (required) ... Identificador único da cobrança a ser estornada.
        + Default: `id`

+ Request (application/json)

    + Headers

        access_token: sua_api_key

    + Attributes (NewPaymentRefund)

    + Body

        {
            "value": 5.00,
            "description": "Valor a mais"
        }

+ Response 200 (application/json)

    + Attributes (PaymentWithCreditCard)

    + Body

            {
                "object": "payment",
                "id": "pay_5789980123884542",
                "dateCreated": "2022-01-16",
                "customer": "cus_000025713200",
                "paymentLink": null,
                "value": 5,
                "netValue": 4.99,
                "originalValue": null,
                "interestValue": 0,
                "description": null,
                "billingType": "PIX",
                "confirmedDate": "2022-01-16",
                "pixTransaction": "35364630-93e2-11ec-b9d9-96f4053b1bd4",
                "pixQrCodeId": null,
                "status": "RECEIVED",
                "dueDate": "2022-02-16",
                "originalDueDate": "2022-02-16",
                "paymentDate": "2022-01-16",
                "clientPaymentDate": "2022-01-16",
                "installmentNumber": null,
                "invoiceUrl": "https://www.asaas.com/i/5789980312384542",
                "invoiceNumber": "74769223",
                "externalReference": null,
                "deleted": false,
                "anticipated": false,
                "anticipable": false,
                "creditDate": "2022-01-16",
                "estimatedCreditDate": null,
                "transactionReceiptUrl": "https://www.asaas.com/comprovantes/4999578509123683",
                "nossoNumero": "25890732",
                "bankSlipUrl": null,
                "lastInvoiceViewedDate": "2022-01-16T13:01:16Z",
                "lastBankSlipViewedDate": null,
                "discount": {
                    "value": 0.00,
                    "limitDate": null,
                    "dueDateLimitDays": 0,
                    "type": "PERCENTAGE"
                },
                "fine": {
                    "value": 0.00,
                    "type": "PERCENTAGE"
                },
                "interest": {
                    "value": 0.00,
                    "type": "PERCENTAGE"
                },
                "postalService": false,
                "refunds": [
                    {
                        "dateCreated": "2022-02-21 10:28:40",
                        "status": "DONE",
                        "value": 2.00,
                        "description": "Pagamento a mais",
                        "transactionReceiptUrl": "https://www.asaas.com/comprovantes/6677732109104548",
                    }
                ]
            }

### Obter linha digitável do boleto [GET /payments/{id}/identificationField]

A linha digitável do boleto é a representação numérica do código de barras. Essa informação pode ser disponibilizada ao seu cliente para pagamento do boleto diretamente no Internet Banking. Ao gerar uma cobrança com as formas de pagamento `BOLETO` ou `UNDEFINED`, a linha digitável pode ser recuperada.

Para recuperar a linha digitável do boleto, é necessário informar o ID da cobrança que o Asaas retornou no momento da criação. Como retorno, você receberá a linha digitável.

> **Atenção:** Caso a cobrança seja atualizada, a linha digitável também sofrerá alterações. O indicado é que a cada nova atualização da cobrança a linha digitável seja novamente recuperada, garantindo que você sempre estará exibindo a linha digitável atualizada.

+ Parameters

    + id (required) ... Identificador único da cobrança a ser recebida.

+ Request (application/json)

    + Headers

            access_token: sua_api_key

+ Response 200 (application/json)

    + Body

            {
                "identificationField": "00190000090275928800021932978170187890000005000",
                "nossoNumero": "6543",
                "barCode": "00191878900000050000000002759288002193297817"
            }

### Obter QR Code para pagamentos via Pix [GET /payments/{id}/pixQrCode]

O recebimento via Pix é um meio rápido, eficaz e seguro para que sua empresa receba as cobranças de seus clientes. Ao gerar uma cobrança com as formas de pagamento "PIX", "BOLETO" ou "UNDEFINED" o pagamento via Pix é habilitado. Uma das maiores vantagens dessa forma de pagamento é que ocorre de forma instantânea, ou seja, assim que o pagamento for realizado o saldo é disponibilizado em sua conta Asaas. Você pode ler mais sobre o Pix [aqui](https://www.bcb.gov.br/estabilidadefinanceira/pix).

Para gerar um QRCode Pix no Asaas você precisa criar uma chave, que é realizada através do [Criar uma chave Pix](#reference/pix/chaves/criar-uma-chave).

Características:
- O QRCode gerado é do tipo dinâmico com vencimento.
- O QRCode expira 12 meses após a data de vencimento.
- Pode ser impresso ou disponibilizado em documentos, pois os valores são consultados na hora da leitura do QRCode. Por exemplo: imprimir em um boleto ou carnês de pagamento.
- Só pode ser pago uma vez.

> **Atenção:** atualmente é possível gerar QR Code Pix dinâmico de pagamento imediato sem possuir uma chave Pix Cadastrada no Asaas. Esse QR Code será vinculado a uma instituição parceira onde o Asaas tem uma chave cadastrada. Todo QR Code obtido desta maneira pode ser pago até 23:59 do mesmo dia. A cada atualização em sua cobrança, é necessário obter um novo QR Code. Entretanto essa funcionalidade será descontinuada no futuro, será enviando um comunicado com 30 dias de antecedência, portanto já indicamos fazer o cadastro da sua chave Pix em [Criar uma chave Pix](#reference/pix/chaves/criar-uma-chave).

Para gerar/recuperar o QR Code de uma cobrança é necessário informar o ID da cobrança que o Asaas retornou no momento da criação. Como retorno, você obterá o QR Code (retornado em imagem no formato Base 64), um Payload para permitir o Pix Copia e Cola e até quando o QR Code será válido.


+ Parameters

    + id (required) ... Identificador único da cobrança a ser recebida.

+ Request (application/json)

    + Headers

            access_token: sua_api_key

+ Response 200 (application/json)

    + Body

            {
                "encodedImage": "iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAAAXNSR0IArs4c6QAAFIBJREFUeF7t3dt2GzsOBNDk/z86s2aO5DnqpLVZDVCWHfgVJC6FKpC6tX/++vXr14/5GwQGgT8i8HMEMswYBM4R+BDIz58/X4pT9eA65nv0l9aj/dV8j+AqfzVD9e2uR/GP+Qs/4ZHGE36y3/MdgdyQ2k2oEcjzm/wI5MAQTRQpvBvQEYgQf7SnE1397u5nVs3vq+cEgWDVsGoDqv5F0N2CV/xvf8WS4lOCiBCyp/G614sQIqQIo/oVX/Wqn6l/+dOVMs1X+Mif7Gf+T1+DpABcTeC+bzcAyk92EWgE8hxB4VcdIOqf7CMQIQS7GjwCGYGUKKYTQvZS8IbNI5BHENMbhvD78ifIqwuUYF5tl8aqhNH+r15v+ppEJ7Lsab/KV6wRyHPIRXARRPtHII8fZI9ADp/sC5Dd9nQiab0InwpK/lK78pegtV8Dt9pPxV/1v/wulgrqvkOmDV0tePVds2q9apDqG4E8fvIuvKr9evsr1m4AUsJV16f7Vb8Ep3jan54Iuwh5lqfw2ZXP25wguwEQgUQQ5ScCar/s8q/6tF/1d/tP69X6EUj4bWM1XICLEPKf7k/zEeGrhNntP61X66v1zhXr0HEBnhI8JVT6mkn+la/2VwWf+u/G/9sLJG2wGlptgBr+2fa0/u43Ubr7JTzVzxHIAcGUIOl6Neyz7dV6uk8wEVT5Cs8RCK5AmoCaaGqQGqwGvtperWcEsvY28tu8iyWCj0AeERiBPCe4BtbqgFgWiALKnh6RqwXc4+oEkD/lL4FW61N81af9af1aL3uaj9YLX+2XvfwulgLIrgK77SmhlX/qTwTSCZCeqMpf+XTXl+aj9eKH9ss+Ajk8/mv3RBYhRyDZ49hGIM1fTkwnoiZM6m8E8hzR6oBI96u/8Qkih1V7SiBNkLFnXwf/6vhX+af9d3ze5rlYQ/C/i+BVgYrgVfsIBK9Jqg2c/WufM5y9Cyn8qgLQ/hHICOSBI1/tBBfBq/bfBFJ12L0/fZep+qJN8bonWpqv8kvfRFC/VG+av962rvpTPVftb/t09yohUkAUT4RJ46WEUH4jkLQDa+tHIDecRMARyPM3Edbo9v9VutKl/natH4GMQP7ILQ2E9AT88lcsTdBUoQJY/qoNkP+0Yd34pPlpfTdemvApHuLDu9k/3l27/4eptOC0Yan/7oYr325CKF63vRuvbjzeTQCqbwRyYKgASwXeLQD5G4H0fu4yAhmBPNVc98D4didId0GagLKrYXpNIf9pvfJXzee4XyeE8Knaq/Uq/xQv9Uv4CQ+eIEogtacACzABnl6JdteT5qMGp/iIELKn/av6E17ql/BbzW/5F4VyKHsKcEoArVd8AS5Byr8arv2KL/yrduUn/JW/9qeET9ef5TcCuSE5AnmvDwI1UNSv7QLRxFCCsqsAxU8nThpPE1fx0/rTelVPmr/q6c5P/lKBpPmrP3f75d+DrAb4eLGDR4emR3AKiAglf8pPhFTDRRjZ037IX3e+wk/4V/un/Wf9G4GcMEWEV0NFWBE0tSteN0Gr+Wm/BKp60v0jkENHUoCr69UwEUb2EcgjQsJ7Fa/TLyumAaoTVQQUQWRPT4RX+0vjaf0qAVavwGk8rU/7IT4qnvjFE0QE1x1O+9OGqeDUnjZE/rv9pfG0PsV7NwFTfmi96u/i65wgKdK39SOQR+A0oUV47d8t4DlB8NytVCcjkL9MIGnDpejqEZ/u14TqOnLP7uzKNxWg/KUTV+uFn/IRvuKL9qf4Vevh5yACVAUL0G67AEkboIGR2tMGp/iofvUz3V/tv/BI85W/tF8jkMNjf6oEEaHVQAlYDU7zVz6KNwIJCVRtcNoQTZi0gSnB0nxFyCp+af7Kp1pfdWCov8o/xYMv0lNABIAKfHW8FLDd61W/CKD9uweE8uu2d9crfx+vNc9+k54KYDXgR+Dmp7lLkLsJn/pP8ar61wmV+u8WgPwJr3QgyN8IJHzbdxXQrgHwasKMQP78/0o+7fcgIlzVXiVYlTCfnX86Uav1Cu+qPcVTJ6b88QRRQbrSpA1aTfgsrzSe6pM/NSD1342n4qeCEB7d+Vf5UK2Pb/MK4HcDpNpAAVrFQ/678VS+aT5VfNP9I5Dw3w+o4WkDqv7mBHlEoFvgI5ARyAPDugmmATAnyNqD5j7t4dXVia8J021PTwzFTwkqwgtP7Vd98i+Bp/Gr+HThPwK5dUKf+4hAr26o4lUJ2Y1HNZ8uwp/lceZ/BDIC+SNnRiD/XMFGICOQEch/hXDywfGyQHQHTY9QTSjZ0yuP8tMRXq0/rUf1pfmmrxFS/8JX9u78dAVVP377HEQFVAnS3XD5Uz1VAFP/aoj8aX9qV7wRSHjFGoE8PppTBJOAUzxTAYjgyl/70/wVb06QA0LVhouAasicIM8RGoEcThBNhFThKUGrhJXglI/2p/V3E6yaX5pPWq/wrdrT/DVA5e++f/nRo68GTAWkdjWoSsCqwHfnl+L16n6r/jT/EUj4gys1YATS++8PhHdqH4EcEEsBEcHVEO1PJ2qa/+780nzSepV/1Z7m//ITJA2YApISVICl8bVer9G0f7c9xU/5pPUqfpU/qWBTfvCDwt2AqCECOLUrXmpP8Un9V9d345PWq/gjEPyDHBFAAKd2xUvtKWFS/9X13fik9Sr+CGQEUuV4ab8IWr2iKDnF//ICEQC608ku/9125ZNOSOWXElD+jva0HhFWdhFa+af4pvkovvIXnvf9l7+sqIJ2E0YACYC0gYq3u960nrQ/wiOtT/5SAgt/2VM8RiDFK6EarIal9hFIitjj+hHIAb+UUDX4f/xIJ2waL60nJYQmflqf/GnApPuFZ4rHbyeIGqAEtF/26p1bgKf+q+vT/cJHdsVT/0Qg4av8qnblL/vV+MtPVtyVwJnftCA1UATShFQ+u/FJ46cTeATy56/ajEBuzB6BPH8MjgaQBFy1awDJfjX+CGQE8j8E5gTBCaIriBSqCaP9uhKogam9u17Vr/q0v4qf9lfxE55V/8JP/tP67+sv/xvoqwFXX3OIMFePzKvxVW+ar/zpyidCyn+abzUfEVj+RyD4XCIFWALqJlhKOBFYhOnOP8VX+Qt/2dP6lL/yPcN7TpAbcppQAngE8oiABCD72wlEBKkqNCVYdb0msOpVfOEhu/zLLv/V+lP/InxqV/2yq34J8L7/8m/SqwRTgVW7AKrmXyVQd30ioAiRnoDV+rW/Gx/5O8NvBCLkTuxqsOwXw35sk//qgEj9S6CpvRsf+RuBHBCaE+T5g/BGIHiyYlXxmmDVI1/7uxuseJpQusJof9oP1a94af+ET5pPGl8DT/54gnzXAu91VQkmfES4EUjtqyzCdwRy+JdtIqwmVmpXPDVwBDICeeCAjrSUcPJXPSG0P81XglE9ipcKXBO2KuBqvtX4qk94x1csNbgKiBqs+NovQKr5d+cngaYESNerHuElgiufdH/a/xTf3z4HSQESYNUClE/qX/5SAOUvza8aX/FEQNWjfsv/CCR8Vm7a0LQBc4Jkb+OOQMKvu1cBkwBkV3ztH4GMQP7NofSE5hVLDnXkVgkqgXTbuwW3G59ufNP6dWVSftX9wrfrxrH8bd60YK1PC+wWRBeAq3mlA0f4dOM7Anl8G/qO/wjkhkRKkFVhfACN12jy1y2w6oCongDV/Rog1fpGIAcERyDPP8gTPiJkldDpAFE+qwNn26NHVVBqV4NkF2BqYOo/rS9dryvWKgFWT7iqP+GvE6Ubn9V+j0BOkBchuhvaTQDlv0qQVQHJ3wik+Vm3KaDphK9O4BHIn1/Ungkq7Wc6MORf/spfNdFE2k0YCUD2FMDPrlcNrQpcE194pvGFfzd/lN9q/csPjlMBXQl1TSA1uJuAqT/hKX+yq/7UrnirhFvtrwSlfKoD7rcPCrscKvHVO60IlDZY/tKGVP2l+1dxva+r4pMOvBFI+NwqNbRbkFV/I5De/5P+6n50C3ROEChYEzQ9ATTRNVBSu+Kl9jT+txeIABHA6X6t3zUhzuKmDa4KSvtfXb/6kQ4I+eu2d/Fz+bE/uoKkgKWEeDVBRiDPKZv2u1sA8jcCCX9/IoFXBSjBi1DaX80vrV8EVD3av9s+AhmBPHAsJUQqSAl0N+FT/ykeZwNk+asmAqgbcBW4O161Xl3RUv9Vf+kJonivtlfzl8DO+DQCuSEnwYkQKeHT9dX4VYKlA0v5pvZq/iMQIXCwq0EpgXevr+ZbJdgIZDPB5F4EkF3+dxN4t/+0fr2Irp6YyqfbXhW4+NF+xVJAEUb7NbFSwBRP9irhdvuv5tdN6LR/6qfyE9+uDoTLr0HUcCWs/SnAAkDxZK8ScLf/an4iYLddeKj/6rfyFT/v/kcg6tTNXiWgwlT9d+9PCSpCKr85QcIfVKlBAlSETO1qsCaa4lX9d+8X/lW78Ej9r54IZ3HPBP5pTzVRQz8bQOUnQVQnakoQ5Ss8Xz1wlI/w694/AjkgqgaIcCMQUbRmV3/kPd0/AhmBiFMPdg2AyNmFxSnB54p1QCC9gqQAzgny/KEMFzgfbfnyAlEBVYIJTcXX/t2Cqean/bKn9QuP1J9OIOUv/iifdIC2X7GqBQpAAaD42i9CCGC9qK3mp/2yp/ULj9Sf+qv8RyD4n4NqiADWfhFiBPL83ycI3xHI5t9jqAEjkN6HLGhgqB86UeU/HUjKR/5W7W3PxUoT1vrU/i5H8j3v3fl0E7JKYJ0YX9X/COTWudWJciYA7U8Fn/oTQdMTV+tlV73aL/ur/I9ARiB/5JoIKvurCHwWR/nJ/jEIf91GjzZ0XxkEYGrvzi/FI534qi/1NyfII6LV/sUCUUPThHSHlr/0Tvvd8hc+sqf4aQClglb/d+e36n/5ivXdCLYK0OqLbhHk3Se8BDUC2fw/9KoAdxNsBFK7kugEUL+1f3d/Vv3PCXJDavcE7RZ4mm81vgivE1Q3kFfnVxZIWlAVQAEse5qv1u+uR/Gr9lfjJcJ11yN/GiDK947fy57Nq4ZV7QJME0qA6Uqghkhwyj+1C0/5S/FK8VN84a396ofyHYEAYRFaBJRdDa7aq/FHIP983X9OkBMmjkBqvwcRfukASAXbfoIo4WpA+U/tmpACtFqP/OsIr14hhJfqkz31r/WpXfhKgCk/zvBYfuxPCqgKSAEToar5pQ3R+hFIrcPCV/wagRx+TzICeSSk8JBd9BZBtV/2EYgQgj2dEJroaUO0XvF0Ihbh+SEByK74I5ADQgKkSlg1RISrxld9aX5ar3yr+1P/Wl8dCPKversHyuqAuPwaRAmvJpACc18v/7JLcFfzWt1XJYz2y767f8K/OpBSwarfZ/5GIDfkqg1bFcZ9XUrgKqFVn/JJCTkCOXSsG2ARLm2AGiwCKZ/ULrzkT/tlrwpO+aX9kT/lm+5Xfh83lfsPpq4eQWeJpYRLCVxdr/xEsN32lBCrDV/tV7W+lLCqN62vq79tD6+WwARYlfCKr4ZXG6QGpnblk9Yr/NP8UjwVX/UqP+Fx1f8I5KRzIsBuuxoqQmjgpPtFUE3sEcgBgRQwNVQNqjZchFT8brvySesVQXfnr/iqV/kJj6v+l08QFSiCq4Duiax8lU8KaLq+u14RKB1YqifFN12verr7F7/NmwI6Anls2WcLQPFTwqb9Tf2L8IovvgqPEQg6VgVYE1cT8dX2lMAiaOpP64WHBFXtx33/XLFuSIxAnlP2rxeICCJFvnoiVPPRBNKRrHqr++W/u/40nvgiQWl/mo/w0Il0Zm/7RaEKUoIirPyrIdqv/NKGjkCe/yIxxVP9G4EAoRFI7SeyKQFFcPVD+9N8RiAjkKcIiJBVwqUnvPL5cgLpBjD1J8B2A64rUWoXoVRPuj+9Iiq+/KX9VT06ARQv5c9qfctfd1eCVXtaYAq48ksFsArwPW66XvW9e77Cu9pv4SPBrfZjBHJD8t0Jp4ZW7SKcThwJQv5FaPlPBSe8Pgbb2dfdlVC3PS0wBVz5jkAeEVolkHA9s1f7nfY/7e9vAlHCV4E425cmrIbtzr+aryZkWp8muvyJYGm98pfyJ42f1qt87/Evfw6SFrybICOQ2gkggskuwqV8GYGEz7VSg0YgI5B/I6ATVoKeEyQcadWJtvsEXW346muCtF7FD+H+kcbXAFX8s/1t/0DnagJXG6aGpAAr/6q9u4FpPpqoOoG1v9oPDRDVW81/BFL8F3NqkOwjkMevwlQJLUGmghuBjECeang3YXWip4QegYSE1oSWXSdA1V6NLwIrP12R5F/7RdhvLxABqAkggsiuBoggyk/+1WARKMVP9Sie9qd4Cx/h212/6kv7Vb5ipQV2Jbj6Il6AqYEiQFqP/KX5pvnL/wjk+Wsivs0rQqgB2p/auwmnCSwCyd6d7whEjHu0p/yaE+SA7wjk5wMiwiMVvAia0T1frfir9uXPQd7tiqWGqeHVE6Dbf06Bxx3V/lTjV/erH59V3wjk1tluwqvhVUJpQMi/6tX+brvwGoGEb+uKICKAGvJq/1XCfRaBqnnf96sfn1XfnCBzgnRxvORnBIITIp0Q6oZOEO2XPW2oXhQqnuyvrjd9V039FT676zvD921PEBFC9t2AjkAeOyC8RyAHxqYTQQBKEOlES/2lr0lSAVXzEUGr/tUfxU/3C79qPav75wRZReqwTg1M7RfT+Ngmglb9pwTXQNFAE37Velb3Lwtk1eHpXa74GkQESAHV+m5CpCdqine1HsWr4r8bTwnyav4jkBuyIrAmXtogEVqErcZL/V8l2D3OCASIixDvBuDufIRHSmD5Uz2KNwIpflAngKsNrDaoe+JW8xEewrO7HsXrrrf7RE7xWF3/to/9EYCfTTBdyXYTSvisEmDXa0blp/7JLkGrfu2/928EckNKDana1TAJbrWhVwn/6vy68RQ+6RVzBHJAtNow7X81AdN46fqrhDt70a4BoRN5BBI+aE6AVQlRbagEVSVgWl+6vppfWv+nCyQl1KwfBP4GBN7m3x/8DWBPjV8Pgf8AkKUrmAjxSVQAAAAASUVORK5CYII=",
                "payload": "00020101021226730014br.gov.bcb.pix2551pix-h.asaas.com/pixqrcode/cobv/pay_76575613967995145204000053039865802BR5905ASAAS6009Joinville61088922827162070503***63045E7A",
                "expirationDate": "2022-06-24 23:59:59"
            }

### Confirmar recebimento em dinheiro [POST /payments/{id}/receiveInCash]

Quando um cliente fizer o pagamento de uma cobrança diretamente para você, sem que esse pagamento seja processado pelo
Asaas, utilize este método para definir a cobrança como recebida em dinheiro. Esta opção serve para manter seu histórico
consistente no sistema, mas não gera saldo ou faz qualquer alteração financeira em sua conta.

Ao confirmar um recebimento em dinheiro de uma cobrança que possua uma negativação em andamento uma taxa de ativação de serviço de negativação poderá ser cobrada. Verifique essa taxa no campo `receivedInCashFeeValue` localizada no retorno do [objeto de negativação](#reference/0/recuperacoes).

+ Parameters
    + id (required) ... Identificador único da cobrança a ser recebida.
    + paymentDate (required) ... Data em que o cliente efetuou o pagamento
    + value (required) ... Valor pago pelo cliente
    + notifyCustomer (boolean) ... Enviar ou não notificação de pagamento confirmado para o cliente

+ Request (application/json)

    + Headers
        access_token: sua_api_key

    + Body
        {
            "paymentDate": "2019-09-03",
            "value": 100.00,
        }

+ Response 200 (application/json)

    + Attributes (PaymentWithCreditCard)

    + Body

            {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 94.51,
                "billingType": "BOLETO",
                "canBePaidAfterDueDate": true,
                "pixTransaction": null,
                "status": "RECEIVED_IN_CASH",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "confirmedDate": null,
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": 2017-10-20,
                "clientPaymentDate": null,
                "installmentNumber": null,
                "transactionReceiptUrl": null,
                "nossoNumero": null,
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": null,
                "invoiceNumber": "00005101",
                "deleted": false,
                "postalService": false,
                "anticipated": false,
                "anticipable": false,
                "refunds": null
            }

### Desfazer confirmação de recebimento em dinheiro [POST /payments/{id}/undoReceivedInCash]

Permite desfazer uma cobrança que foi marcada como [recebida em dinheiro](#reference/0/cobrancas/confirmar-recebimento-em-dinheiro).

+ Parameters
    + id (required) ... Identificador único da cobrança.

+ Request (application/json)

    + Headers
        access_token: sua_api_key

+ Response 200 (application/json)

    + Attributes (Payment)

    + Body

             {
                "object": "payment",
                "id": "pay_080225913252",
                "dateCreated": "2017-03-10",
                "customer": "cus_G7Dvo4iphUNk",
                "paymentLink": null,
                "dueDate": "2017-06-10",
                "value": 100.00,
                "netValue": 95.00,
                "billingType": "BOLETO",
                "canBePaidAfterDueDate": true,
                "pixTransaction": null,
                "status": "PENDING",
                "description": "Pedido 056984",
                "externalReference": "056984",
                "originalValue": null,
                "interestValue": null,
                "originalDueDate": "2017-06-10",
                "paymentDate": null,
                "clientPaymentDate": null,
                "installmentNumber": null,
                "transactionReceiptUrl": null,
                "nossoNumero": "6453",
                "invoiceUrl": "https://www.asaas.com/i/080225913252",
                "bankSlipUrl": "https://www.asaas.com/b/pdf/080225913252",
                "invoiceNumber": "00005101",
                "discount": {
                    "value": 10.00,
                    "dueDateLimitDays": 0
                },
                "fine": {
[...]
