
<ion-content>

  <div class="container">

 

  <div class="logo">
    <ion-label>COOPEERE</ion-label>
  </div>

  <div class="container-form">

    <div>
      <h3>Seja Bem-Vindo!</h3>
    </div>

    <div class="inputs">

      <ion-label>Email</ion-label>
      <ion-input type="email" placeholder="Digite o seu email"></ion-input>
      <ion-label>Senha</ion-label>
      <ion-input type="password" placeholder="Digite a sua senha"></ion-input>
    </div>

    <ion-button>Entrar</ion-button>

  </div>
  
</div>
</ion-content>
